<footer>
    <div class="mt-5 py-5 footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <h2>Footer</h2>
                    <p class="pr-5 text-white-50">
                        Bla bla bla
                    </p>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-xs-12 location">
                    <h4 class="mt-lg-0 mt-sm-4">Contacto</h4>
                    <p><i class="far fa-map-marked-alt">&nbspCalle tal #25</i></p>
                    <p><i class="far fa-phone">&nbsp(111)111-111</i></p>
                    <p><i class="far fa-envelope-open">&nbspCorreo@gmail.com</i></p>
                </div>
                <div class="col-lg-4 col-xs-12 links">
                    <h4 class="mt-lg-0 mt-sm-3">Quick links</h4>
                    <ul class="m-0 p-0">
                        <li>- <a href="#">Algo</a></li>
                        <li>- <a href="#">Algo</a></li>
                        <li>- <a href="#">Algo</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>