{{#if success}}
<div class="container px-2">
    <div class="row">
        <div class="col-md-5 mx-auto alineado">
            <div class="alert alert-success alert-dismissable fade show" role="alert">
                {{success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if error}}
<div class="container px-2">
    <div class="row">
        <div class="col-md-5 mx-auto alineado">
            <div class="alert alert-danger alert-dismissable fade show" role="alert">
                {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}