<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-dark" style="position: absolute;">
            <i class="fas fa-align-justify lead"></i>
            <span></span>
        </button>

        <div class="container-fluid" style="width: 42%;">
            <ul class="nav">
                <li class="nav-item active">
                    <a href="/home">
                        <img src="/img/Consultarq_letras_azul.png" alt="" class="img-fluid pb-1">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>