<!-- Sidebar -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header alineado">
        <br><img src="/img/logo.png" alt="" class="img-fluid pb-1" width="90"><br>
        <img src="/img/Consultarq_letras_gris.png" alt="" class="img-fluid pb-1" width="160">
    </div>

    <ul class="list-unstyled components">
        <li>
            <a class="nav-link d-block p-3" href="#profileSubmenu" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle">
                <i class="fas fa-user-alt mr-2 lead"></i>
                Perfil
            </a>
            <ul class="collapse list-unstyled" id="profileSubmenu">
                <li class="profileinfo">
                    <a href="/profile/info">Mi perfil</a>
                </li>
                <li>
                    <a href="/profile/password">Cambiar contraseña</a>
                </li>
                <div class="dropdown-divider"></div>
                <li>
                    <a href="/logout">Cerrar sesión</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="nav-link d-block p-3" href="/home"> <i class="fas fa-home mr-2 lead"></i>Home </a>
        </li>
        <li class="client">
            <a  class="nav-link d-block p-3" href="/clients"><i class="fas fa-address-book mr-2 lead"></i>Clientes</a>
        </li>
        <li class="project">
            <a  class="nav-link d-block p-3" href="/projects"> <i class="fas fa-archive mr-2 lead"></i>Proyectos
            </a>
        </li>
        <li class="finance">
            <a  class="nav-link d-block p-3" href="/finance"><i class="fas fa-piggy-bank mr-2 lead"></i>Finanzas</a>
        </li>
        <li class="supplier">            
            <a  class="nav-link d-block p-3" href="/suppliers"><i class="fas fa-truck mr-2 lead"></i>Proveedores</a>
        </li>
        <li class="service">
            <a  class="nav-link d-block p-3" href="/services"><i class="far fa-object-group mr-2 lead"></i>Cartera de servicios</a>
        </li>
        <li class="user">
            <a  class="nav-link d-block p-3" href="/users"><i class="fas fa-users mr-2 lead"></i>Usuarios</a> 
        </li>
        
        <li class="other">
            <a  class="nav-link d-block p-3" href="/other/states"><i class="fas fa-cogs mr-2 lead"></i>Otros </a> 
        </li>
    </ul>
</nav>