<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/principal.css">


<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <div class="container">
                <h1>Crear nuevo proyecto</h1>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>

                <form id="regiration_form" action="/projects/add" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <h2>Paso 1: DATOS GENERALES</h2>
                        <div class="form-group">
                            <label for="Proyecto">Nombre del proyecto</label>
                            <input type="text" class="form-control" id="Proyecto" name="Proyecto"
                                placeholder="Nombre del proyecto" maxlength="45" required>
                        </div>
                        <div class="form-group">
                            <label for="Encargado">Arquitecto encargado</label>

                            <select name="Encargado" id="Encargado" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                {{#each arquitecto}}
                                <option value="{{idEmpleado}}">{{fullname}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Cliente">Cliente</label>

                            <select name="Cliente" id="Cliente" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                {{#each cliente}}
                                <option value="{{idCliente}}">{{fullname}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="TipoServicio"> Tipo de servicio</label>

                            <select name="TipoServicio" id="TipoServicio" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                {{#each servicio}}
                                <option value="{{idTiposServicio}}">{{Servicio}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="Presupuesto">Presupuesto</label>
                            <input type="text" name="Presupuesto" class="form-control" id="Presupuesto"
                                placeholder="Presupuesto" required>
                        </div>

                        <input type="button" name="data[password]" class="next btn2" value="Siguiente" />
                    </fieldset>
                    <fieldset>
                        <h2> Paso 2: DIRECCION</h2>

                        <div class="form-group">
                            <label for="Estado">Estado</label>
                            <select name="Estado" id="estado" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                {{#each estado}}
                                <option value="{{idEstado}}">{{Estado}}</option>
                                {{/each}}
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="Ciudad">Ciudad</label>
                            <select name="Ciudad" id="Ciudad" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                {{#each ciudad}}
                                <option value="{{idCiudad}}">{{Ciudad}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="Colonia">Colonia</label>
                            <input type="text" class="form-control" name="Colonia" id="Colonia" maxlength="45"
                                placeholder="Colonia" required>
                        </div>
                        <div class="form-group">
                            <label for="Calle">Calle</label>
                            <input type="text" class="form-control" name="Calle" id="Calle" maxlength="45"
                                placeholder="Calle" required>
                        </div>
                        <div class="form-group">
                            <label for="Numero">Numero</label>
                            <input type="number" class="form-control" name="Numero" id="Numero" maxlength="4"
                                placeholder="Numero" required>
                        </div>
                        <div class="form-group">
                            <label for="CP">Codigo Postal</label>
                            <input type="number" class="form-control" name="CP" id="CP" minlength="5" maxlength="5"
                                placeholder="Código postal" required>
                        </div>
                        <div class="form-group">
                            <label for="Telefono">Telefono</label>
                            <input type="text" class="form-control" name="Telefono" id="Telefono" min="10"
                                maxlength="10" placeholder="Teléfono" required>
                        </div>

                        <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                        <input type="button" name="next" class="next btn2" value="Siguiente" />
                    </fieldset>
                    <fieldset>
                        <h2>Paso 3: DETALLES</h2>
                        <div class="form-group">
                            <label for="Contrato">Contrato</label>
                            <input type="file" name="Contrato" class="form-control" id="Contrato"
                                placeholder="Contrato">
                        </div>

                        <div class="form-group">
                            <label for="Imagen">Imagen</label>
                            <input type="file" name="Imagen" class="form-control" id="Imagen" placeholder="Imagen">
                        </div>
                        <div class="form-group">
                            <label for="Fecha_TenFin">Fecha tentativa de entrega</label>
                            <input type="date" class="form-control" id="Fecha_TenFin" name="Fecha_TenFin"
                                placeholder="Fecha tentativa de entrega" required>
                        </div>
                        <div class="form-group">
                            <label for="Status">Estado</label>
                            <select name="Status" id="Status" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                        <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                        <input type="submit" name="submit" class="submit btn2" value="Guardar" id="submit_data" />
                    </fieldset>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var current = 1,
            current_step, next_step, steps;
        steps = $("fieldset").length;
        $(".next").click(function () {
            current_step = $(this).parent();
            next_step = $(this).parent().next();
            next_step.show();
            current_step.hide();
            setProgressBar(++current);
        });
        $(".previous").click(function () {
            current_step = $(this).parent();
            next_step = $(this).parent().prev();
            next_step.show();
            current_step.hide();
            setProgressBar(--current);
        });
        setProgressBar(current);
        // Change progress bar action
        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
                .css("width", percent + "%")
                .html(percent + "%");
        }

        $('#estado').change(function () {
            $.get('/projects/ciudad/' + $(this).val(), function (ciudaData) {
                $('#Ciudad').empty();
                $.each(ciudaData, function (index, city) {
                    $('#Ciudad').append($("<option></option>")
                        .attr("value", city.idCiudad).text(city.Ciudad));
                });
            });
        });

    });
</script>