<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content  -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <section>
                <!--Ejemplo tabla con DataTables-->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col">
                            <button class="fas fa-arrow-alt-circle-left fa-2x" style="cursor: pointer;"
                                onclick="window.history.back();" title="Regresar"></button>
                        </div>
                        <div class="col-8" style="text-align: center;">
                            <h2 class="py-3">Proyectos de {{cliente.RazonSocial}}</h2>
                        </div>
                        <div class="col" style="text-align: end;">
                            <!--<button class="fas fa-plus-circle fa-2x" type="button" data-toggle="modal"
                                data-target="#modalAdd" title="Agregar proyecto"></button>-->
                        </div>
                        <!--  <div class="col" style="text-align: end;">
                            <a href="javascript:nuevoProyecto();" class="text-dark" title="Agregar Proyecto"><i
                                    class="fas fa-plus-circle fa-2x"></i>
                            </a>
                        </div>-->
                    </div>
                    <div class="form-group">
                        <label for="Vista">Vista</label>
                        {{!-- <select name="Vista" id="Vista" class="form-control" required>
                            <option value="">Seleccione una vista</option>
                            <option value="1" selected>Tabla</option>
                            <option value="2">Tarjetas</option>
                        </select> --}}
                        <button id="btnCard" class="fas fa-table fa-lg" style="cursor: pointer;" onclick="showCard();"
                            title="Tarjetas"></button>
                        <button id="btnTable" class="fas fa-stream fa-lg" style="cursor: pointer; color:grey;"
                            onclick="showTable();" title="Tabla"></button>
                    </div>
                    <!--Ejemplo tabla con DataTables-->
                    <div id="tabla" class="container py-2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">

                                    <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th><i class="fas fa-plus-circle lead"></i></th>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Arquitecto</th>
                                                <th>Fecha</th>
                                                <th>Estado</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each projects}}
                                            <tr>
                                                <td><i class="fas fa-folder-open lead"></i></td>
                                                <td><a href="/projects/show/{{idProyecto}}"> {{idProyecto}} </a></td>
                                                <td><a href="/projects/show/{{idProyecto}}">{{Proyecto}}</a></td>
                                                <td><a href="/projects/show/{{idProyecto}}">{{fullname}}</a></td>
                                                <td><a href="/projects/show/{{idProyecto}}">{{fixDate Fecha_Inicio}}</a>
                                                </td>
                                                <td><a href="/projects/show/{{idProyecto}}">{{fixStatus Status}}</a>
                                                </td>
                                                <td><a href="/projects/edit/{{idProyecto}}" class="text-info"
                                                        title="Editar información"><i
                                                            class="fas fa-pencil-alt lead"></i></a></td>
                                                <td><a href="/projects/{{idProyecto}}/quotes" class="text-danger"
                                                        title="Ver cotizaciones"><i
                                                            class="fas fa-clipboard lead"></i></a></td>

                                            </tr>
                                            {{else}}
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tarjeta" class="container py-2">
                        {{!-- <h2 class="py-3">Clientes</h2> --}}
                        <div class="row alineado">
                            {{#each projects}}

                            <div class="card col-md-4 p-0 my-2 ">
                                <a href="/projects/show/{{idProyecto}}">
                                    <div class="card-header">
                                        <h6 class="font-weight-bold mb-0">{{Proyecto}}</h6>
                                    </div>

                                    <div class="card-body">
                                        <div class="col-md-12 d-flex ">
                                            <div class="mx-auto">
                                                <div class="objeto">


                                                    <h6 class="alineado"><strong>Arquitecto:</strong> {{fullname}}</h6>
                                                    <h6 class="alineado"><br><strong>Cliente:</strong> {{RazonSocial}}</h6>
                                                    <h6 class="alineado"><br><strong>Fecha de inicio</strong> </br>
                                                        {{fixDate Fecha_Inicio}}
                                                    </h6>

                                                    <h6 class="alineado">{{fixStatus Status}}</h6>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-footer">

                                        <div class="row alineado">
                                            <div class="iconosFeos">
                                                <a href="/projects/edit/{{idProyecto}}" class="text-info"
                                                    title="Editar información"><i
                                                        class="fas fa-pencil-alt lead"></i></a>
                                            </div>

                                            <div class="iconosFeos">
                                                <a href="/projects/{{idProyecto}}/quotes" class="text-danger"
                                                    title="Ver cotizaciones"><i class="fas fa-clipboard lead"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {{else}}
                            <div class="card col-md-3 p-0 mx-auto">
                                <div class="card-header">
                                    <h6 class="font-weight-bold mb-0">Proyectos de {{cliente.RazonSocial}}</h6>
                                </div>
                                <div class="card-body">
                                    <div class="col-md-12 d-flex ">
                                        <div class="mx-auto">
                                            <div class="objeto">
                                                {{!-- <h4 class="font-weight-bold nb-0">Proyectos próximos </h4> --}}
                                                <h5 class="alineado">No hay proyectos agregados
                                                </h5>
                                                {{!-- <a class="d-block p-1 alineado" role="cell" href="/projects"> Ver
                                                    todos
                                                </a> --}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer objeto">
                                    <a class="d-block p-1 alineado" role="cell" href="/projects/add"> Agregar proyecto
                                    </a>
                                </div>
                            </div>


                            {{/each}}
                        </div>
                    </div>
                </div>
                <!--  <div class="container py-4">
                    <div class="row">
                        <div class="col-2 alineado">
                        </div>
                        <div class="col-4 alineado">
                            <button type="button" class="btn1">Modificar</button>
                        </div>
                        <div class="col-4 alineado">
                            <button type="button" class="btn1">Eliminar</button>
                        </div>
                        <div class="col-2 alineado">
                        </div>
                    </div>
                </div> -->
                <div class="container py-4">
                    <div class="row">
                        <div class="block mx-auto col-md-3 alineado py-2">
                            <a href="/home">
                                <button type="button" class="btn1">Regresar </button>
                            </a>
                        </div>
                        <div class="block mx-auto col-md-3 alineado py-2">
                            <a href="/projects">
                                <button type="button" class="btn1">Ver todos los proyectos </button>
                            </a>
                        </div>
                    </div>
                </div>

            </section>

        </div>
    </div>
</div>

<!--<div class="modal fade container-fluid" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Agregar un proyecto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <form action="/projects/add" method="POST" enctype="multipart/form-data">

                    <div class="container-fluid">
                        <fieldset>
                            <h2>DATOS GENERALES:</h2>
                            <div class="form-group">
                                <label for="Proyecto">Nombre del proyecto</label>
                                <input type="text" class="form-control" id="Proyecto" name="Proyecto"
                                    placeholder="Nombre del proyecto" maxlength="45" required>
                            </div>
                            <div class="form-group">
                                <label for="Encargado">Arquitecto encargado</label>

                                <select name="Encargado" id="Encargado" class="form-control" required>
                                    <option value="-1">--SELECCIONAR--</option>
                                    {{#each arquitecto}}
                                    <option value="{{idEmpleado}}">{{fullname}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Cliente">Cliente</label>

                                <select name="Cliente" id="Cliente" class="form-control" required>
                                    <option value="-1">--SELECCIONAR--</option>
                                    {{#each cliente}}
                                    <option value="{{idCliente}}">{{fullname}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="TipoServicio"> Tipo de servicio</label>

                                <select name="TipoServicio" id="TipoServicio" class="form-control" required>
                                    <option value="-1">--SELECCIONAR--</option>
                                    {{#each servicio}}
                                    <option value="{{idTiposServicio}}">{{Servicio}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="Presupuesto">Presupuesto</label>
                                <input type="text" name="Presupuesto" class="form-control" id="Presupuesto"
                                    placeholder="Presupuesto" required>
                            </div>
                        </fieldset>
                        <fieldset>
                            <h2>DIRECCION:</h2>

                            <div class="form-group">
                                <label class="form-label">Estado</label>
                                <select class="form-control" id="Estado" name="Estado" onchange="VerEstado();" required>
                                    <option value="-1">Seleccione el estado</option>
                                    {{#each estado}}
                                    <option value={{idEstado}}>{{Estado}}</option>
                                    {{/each}}
                                </select>
                            </div>


                            <div class="form-group">
                                <label class="form-label">Ciudad</label>
                                <select class="form-control" id="Ciudad" name="Ciudad" required>
                                    <option>Seleccione la ciudad</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="Colonia">Colonia</label>
                                <input type="text" class="form-control" name="Colonia" id="Colonia" maxlength="45"
                                    placeholder="Colonia" required>
                            </div>
                            <div class="form-group">
                                <label for="Calle">Calle</label>
                                <input type="text" class="form-control" name="Calle" id="Calle" maxlength="45"
                                    placeholder="Calle" required>
                            </div>
                            <div class="form-group">
                                <label for="Numero">Número</label>
                                <input type="text" class="form-control" name="Numero" id="Numero" maxlength="4"
                                    placeholder="Numero"
                                    onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
                            </div>
                            <div class="form-group">
                                <label for="CP">Codigo Postal</label>
                                <input type="text" class="form-control" name="CP" id="CP" minlength="5" maxlength="5"
                                    placeholder="Código postal"
                                    onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
                            </div>
                            <div class="form-group">
                                <label for="Telefono">Telefono</label>
                                <input type="text" class="form-control" name="Telefono" id="Telefono" min="10"
                                    maxlength="10" placeholder="Teléfono"
                                    onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
                            </div>
                        </fieldset>
                        <fieldset>
                            <h2>DETALLES:</h2>
                            <div class="form-group">
                                <label for="Contrato">Contrato</label>
                                <input type="file" name="Contrato" class="form-control" id="Contrato"
                                    placeholder="Contrato">
                            </div>

                            <div class="form-group">
                                <label for="Imagen">Imagen</label>
                                <input type="file" name="Imagen" class="form-control" id="Imagen" placeholder="Imagen"
                                    accept="image/*">
                            </div>
                            <div class="form-group">
                                <label for="Fecha_TenFin">Fecha tentativa de entrega</label>
                                <input type="date" class="form-control" id="Fecha_TenFin" name="Fecha_TenFin"
                                    placeholder="Fecha tentativa de entrega" required>
                            </div>
                        </fieldset>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn1 btn-secondary mx-auto col-md-7"
                            data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn1 btn-primary mx-auto col-md-7" id="btnAdd">Completar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>-->

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $.get('/dropElements', function (clases) {
            $.each(clases, function (index, el) {
                $(`.${el.Clase}`).remove();
            });
        });

        // $('#estado').change(function () {
        //    $.get('/projects/ciudad/' + $(this).val(), function (ciudaData) {
        //        $('#Ciudad').empty();
        //        $.each(ciudaData, function (index, city) {
        //            $('#Ciudad').append($("<option></option>")
        //                .attr("value", city.idCiudad).text(city.Ciudad));
        //        });
        //    });
        // });

        $('#myTable').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "sProcessing": "Procesando..."
            },
            columnDefs: [
                {
                    width: "30px",
                    targets: 0
                },
                {
                    visible: false,
                    targets: 1
                }
            ]

        });

        showCard();
    });

    function pressNuevo() {
        $('#Add_Estado').val('');
        $("#modalAdd").modal("show");
    }

    function nuevoProyecto() {
        $('#Proyecto').val('');
        $('#Encargado').val('-1');
        $('#Cliente').val('-1');
        $('#TipoServicio').val('-1');
        $("#Presupuesto").val('');
        $("#Cotizacion").val('');
        $('#Estado').val('-1');
        $('#Ciudad').empty();
        $('#Ciudad').append($("<option></option>")
            .attr("value", '-1').text('Seleccione la ciudad'));
        $("#Colonia").val('');
        $("#Calle").val('');
        $("#Numero").val('');
        $("#CP").val('');
        $("#Telefono").val('');
        $("#Contrato").empty();
        $("#Imagen").empty();
        $("#Fecha_TenFin").val('');
        $("#Status").val('-1');
        $("#modalAdd").modal("show");
    }

    $('#Estado').change(function () {
        $.get('/projects/ciudad/' + $(this).val(), async function (ciudadData) {
            $('#Ciudad').empty();
            $('#Ciudad').append($("<option></option>")
                .attr("value", '-1').text('Seleccione la ciudad'));
            await $.each(ciudadData, function (index, city) {
                $('#Ciudad').append($("<option></option>")
                    .attr("value", city.idCiudad).text(city.Ciudad));
            });
        });
    });

    function pressEditar(estado, id) {
        $('#Edit_Estado').val(estado);
        $('#Edit_ID').val(id);
        $("#modalEdit").modal("show");
    }

    //const selectVista = document.querySelector('#Vista');
    //selectVista.onchange = function () {
    //const vista = document.getElementById('Vista').value;

    //if (vista === '1') {
    //$('#tarjeta').hide();
    //$('#tabla').show();
    //}
    //if (vista === '2') {
    //$('#tarjeta').show();
    //$('#tabla').hide();
    //}
    //return false;
    //}

    function showTable() {
        $('#tarjeta').hide();
        $('#tabla').show();
        $('#btnTable').css("color", "rgb(32, 32, 32)");
        $('#btnCard').css("color", "grey");
    }

    function showCard() {
        $('#tarjeta').show();
        $('#tabla').hide();
        $('#btnTable').css("color", "grey");
        $('#btnCard').css("color", "rgb(32, 32, 32)");
    }
</script>