<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content -->
    <div id="content" class="animated bounceInUp">

        {{> navbar}}

        {{> message }}
        <section>
            <div class="container-fluid">

                <div class="row d-flex">

                    <div class="container">
                        <!--<div class="container-fluid alineado">-->
                        <!--<h3 class="font-weight-bold logo">{{projects.Proyecto}}</h3>-->
                        <!--</div>-->
                        <div class="row align-items-center">
                            <div class="col">
                                <button class="fas fa-arrow-alt-circle-left fa-2x" style="cursor: pointer;"
                                    onclick="window.history.back();" title="Regresar"></button>
                            </div>
                            <div class="col-7" style="text-align: center;">
                                <h3 class="font-weight-bold logo">{{projects.Proyecto}}</h3>
                            </div>
                            <div class="col" style="text-align: end;">
                            </div>
                        </div>

                        <form action="/projects/edit/{{projects.idProyecto}}" method="POST" id="Form"
                            enctype="multipart/form-data">
                            <div class="form-group pt-3">
                                <label for="Proyecto">Nombre del Proyecto </label>
                                <input type="text" name="Proyecto" id="Proyecto" value="{{projects.Proyecto}}"
                                    class="form-control" maxlength="45" required>
                            </div>

                            <div class="form-group">
                                <label for="Encargado">Arquitecto encargado</label>
                                <select name="Encargado" id="Encargado" class="form-control" required>
                                    <option value="{{projects.idEmpleado}}">{{projects.Encargado}}</option>
                                    {{#each arquitecto}}
                                    <option value="{{idEmpleado}}">{{fullname}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="TipoServicio"> Tipo de servicio</label>
                                <select name="TipoServicio" id="TipoServicio" class="form-control" required>
                                    <option value="{{projects.idTiposServicio}}">{{projects.TipoServicio}}</option>
                                    {{#each servicio}}
                                    <option value="{{idTiposServicio}}">{{Servicio}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <h4>Direccion</h4>
                            <div class="form-group">
                                <label class="form-label">Estado</label>
                                <select class="form-control" id="Estado" name="Estado" onchange="VerEstado();">
                                    <option value="{{projects.idEstado}}">{{projects.Estado}}</option>
                                    {{#each estado}}
                                    <option value={{idEstado}}>{{Estado}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Ciudad</label>
                                <select class="form-control" id="Ciudad" name="Ciudad">
                                    <option value="{{projects.idCiudad}}">{{projects.Ciudad}}</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="Colonia">Colonia</label>
                                <input type="text" class="form-control" value="{{projects.Colonia}}" name="Colonia"
                                    id="Colonia">
                            </div>
                            <div class="form-group">
                                <label for="Calle">Calle</label>
                                <input type="text" class="form-control" value="{{projects.Calle}}" name="Calle"
                                    id="Calle">
                            </div>
                            <div class="form-group">
                                <label for="Numero">Número</label>
                                <input type="text" class="form-control" value="{{projects.Numero}}" name="Numero"
                                    id="Numero" maxlength="4"
                                    onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                            </div>
                            <div class="form-group">
                                <label for="CP">Codigo Postal</label>
                                <input type="text" class="form-control" value="{{projects.CP}}" name="CP" id="CP"
                                    onkeypress='return event.charCode >= 48 && event.charCode <= 57' minlength="5"
                                    maxlength="5">
                            </div>
                            <div class="form-group">
                                <label for="Telefono">Telefono</label>
                                <input type="text" class="form-control" value="{{projects.Telefono}}" name="Telefono"
                                    id="Telefono" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                    minlength="10" maxlength="10">
                            </div>


                            <div class="form-group">
                                <label for="Fecha_TenFin">Fecha tentativa de entrega </label>
                                <input type="date" name="Fecha_TenFin" id="Fecha_TenFin"
                                    value="{{fixEditProject projects.Fecha_TenFin}}" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="Fecha_Fin">Fecha final de entrega</label>
                                <input type="date" name="Fecha_Fin" id="Fecha_Fin"
                                    value="{{fixEditProject projects.Fecha_Fin}}" class="form-control" maxlength="45">
                            </div>
                            <div class="form-group">
                                <label for="Presupuesto">Presupuesto</label>
                                <input type="number" name="Presupuesto" id="Presupuesto"
                                    value="{{projects.Presupuesto}}" class="form-control" maxlength="45" required>
                            </div>
                            <div class="form-group">
                                <label for="Cliente">Cliente</label>
                                <select name="Cliente" id="Cliente" class="form-control" required>
                                    <option value="{{projects.idCliente}}">{{projects.Cliente}}</option>
                                    {{#each cliente}}
                                    <option value="{{idCliente}}">{{fullname}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Status">Estado</label>
                                <select name="Status" id="Status" class="form-control">
                                    <option value="">Seleccione el estado del proyecto</option>
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                            </div>
                            <div>
                                <input type="hidden" id="aux" value="{{projects.Status}}" required>
                            </div>
                            <div class="form-group">
                                <label for="Contrato">Contrato</label>
                                <input type="file" name="Contrato" id="Contrato" value="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="Imagen">Imagen</label>
                                <input type="file" name="Imagen" id="Imagen" value="" class="form-control"
                                    accept="image/*">
                            </div>

                            <div class="block mx-auto col-md-3 alineado py-4">
                                <button class="btn1 mx-auto" id="btnForm">
                                    Guardar
                                </button>
                            </div>
                        </form>



                    </div>
                </div>

            </div>

        </section>

    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $.get('/dropElements', function (clases) {
            $.each(clases, function (index, el) {
                $(`.${el.Clase}`).remove();
            });
        });

        $('#Status').val(
            $('#aux').val()
        );
        $('#aux').remove();

        //    $('#estado').change(function() {
        //       $.get('/projects/ciudad/'+$(this).val(), function(ciudaData) {
        //           $('#Ciudad').empty();
        //           $.each(ciudaData, function(index,city) {
        //               $('#Ciudad').append($("<option></option>")
        //                   .attr("value", city.idCiudad).text(city.Ciudad));
        //           });
        //       });
        //   });



    });

    $('#Estado').change(function () {
        $.get('/projects/ciudad/' + $(this).val(), async function (ciudadData) {
            $('#Ciudad').empty();
            $('#Ciudad').append($("<option></option>")
                .attr("value", '-1').text('Seleccione la ciudad'));
            await $.each(ciudadData, function (index, city) {
                $('#Ciudad').append($("<option></option>")
                    .attr("value", city.idCiudad).text(city.Ciudad));
            });
        });
    });

    const selectEstado = document.querySelector('#Estado');
    selectEstado.onchange = function () {
        return cargarCiudades();
    }

    async function cargarCiudades() {
        const estado = document.getElementById('Estado').value;
        $('#Ciudad').empty();
        $('#Ciudad').append('<option value="-1">Seleccione una ciudad</option>');

        if (estado === '-1') {
            $('#Ciudad').val('-1');
        }
        else {
            await $.get('/projects/ciudad/' + estado, async function (ciudadData) {
                //$('#Ciudad').empty();
                //$('#Ciudad').append($("<option></option>")
                //.attr("value", '-1').text('Seleccione la ciudad'));
                await $.each(ciudadData, function (index, city) {
                    $('#Ciudad').append($("<option></option>")
                        .attr("value", city.idCiudad).text(city.Ciudad));
                });
            });
        }
    }


</script>