<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content  -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <section>
                <div class="card mb-3">

                    <div class="card-body">

                        <div class="align-items">


                            <div class="container-fluid my-auto">
                                <img class="img-thumb float-right img-fluid py-3" src="{{searchImageProject projects.Imagen}}"
                                    alt="Card image cap">
                            </div>

                            <h1 class="card-title">{{projects.Proyecto}}</h1>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Arquitecto encargado:
                                    </strong>{{projects.Encargado}}</li>
                                <li class="list-group-item"><strong>Cliente: </strong>{{projects.Cliente}}</li>
                                <li class="list-group-item"><strong>Direccion: </strong>{{projects.Ciudad}},
                                    {{projects.Estado}}. Col. {{projects.Colonia}}, Calle. {{projects.Calle}},
                                    #{{projects.Numero}}, CP. {{projects.CP}}</li>
                                <li class="list-group-item"><strong>Telefono: </strong>{{projects.Telefono}}</li>
                                <li class="list-group-item"><strong>Presupuesto: </strong>${{projects.Presupuesto}}</li>
                                <li class="list-group-item"><strong>Fecha de inicio: </strong>{{fixDate
                                    projects.Fecha_Inicio}}</li>
                                <li class="list-group-item"><strong>Fecha de tentativa de entrega:
                                    </strong>{{fixDateProject
                                    projects.Fecha_TenFin}}</li>
                                <li class="list-group-item"><strong>Fecha de finalización: </strong>{{fixDateProject
                                    projects.Fecha_Fin}}</li>
                                <li class="list-group-item objeto"><a href="{{searchContrato projects.Contrato}}">Descargar
                                        Contrato</a></li>
                            </ul>

                            <div class="row">
                                <div class="col alineado">
                                    <a href="/projects/edit/{{projects.idProyecto}}" class="text-info"> <i
                                            class="fas fa-pencil-alt fa-lg"></i></a>
                                </div>
                                <div class="col alineado">
                                    <a href="/projects/{{projects.idProyecto}}/quotes" class="text-danger"><i
                                            class="fas fa-clipboard fa-lg"></i></a>
                                </div>
                            </div>





                        </div>

                    </div>

                </div>
                <div class="container py-4">
                    <div class="row">
                        <div class="block mx-auto col-md-3 alineado py-2">
                            <a href="/projects">
                                <button type="button" class="btn1">Regresar </button>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $.get('/dropElements', function (clases) {
            $.each(clases, function (index, el) {
                $(`.${el.Clase}`).remove();
            });
        });
    });
</script>