* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.alineado {
    align-content: center;
    text-align: center;
    justify-content: center;
}

.carrusel {
    align-content: flex-start;
    margin-left: -230px;
}

body {
    background-color: rgb(59, 58, 58);
    overflow-x: hidden;
}

.texto {
    color: rgb(181, 186, 228);
    transition: all 0.3s;
}

a.texto:hover {
    color: rgb(181, 186, 228);
    text-decoration: underline;
    transition: all 0.3s;
}

.row {
    background: rgb(59, 58, 58);
    /*border-radius: 30px;*/
    /*box-shadow: 12px 12px 22px grey;*/
}

img {
    height: 90vh;
    /*border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;*/
}

.logo {
    max-width: 30vw;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.3s;
}

.btn1:hover {
    background-color: white;
    border: 1px solid;
    color: rgb(34, 34, 34);
    transition: all 0.3s;
}

@media screen and (max-width: 1024px) {
    .ocultar-div {
        display: none;
    }
}