:root {
    --primary: #111B54;
    --light: #ffffff;
    --grey: #c7c5c5;
    --dark: #303030;
}

body {
    /*overflow: hidden;*/
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: var(--dark);
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 90%;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.3s;
}

.btn1:hover {
    background-color: white;
    border: 1px solid;
    color: rgb(34, 34, 34);
    transition: all 0.3s;
}

.btn2 {
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.3s;
}

.btn2:hover {
    background-color: white;
    border: 1px solid;
    color: rgb(34, 34, 34);
    transition: all 0.3s;
}

.alineado {
    align-content: center;
    text-align: center;
    justify-content: center;
}

.alineado2 {
    align-content: center;
    text-align: right;
    justify-content: right;
    padding-top: 1.15em;
    padding-bottom: 1.02em;
}

.iconosFeos {
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.fondo {
    background: white;
}

.transparent {
    background: #e2e2e2;
}

a:hover {
    text-decoration: none;
}

.bg-primary {
    background-color: var(--dark) !important;
}

.bg-mix {
    background: linear-gradient(180deg, var(--light) 50%, var(--grey 0));
}

.bg-grey {
    background-color: var(--grey) !important;
}

#sidebar-container {
    min-height: 100vh;
}

#sidebar-container.logo {
    padding: .875rem 1.25 rem;
}

#sidebar-container.menu {
    width: 18rem;
}

.avatar {
    max-width: 35px
}

.profile {
    max-width: 90px;
}


/*#main{
    overflow-y: auto;
    height: 100vh;
    margin-left: 1em;
    padding-bottom: 5rem
}*/

.stat {
    border-right: 2px solid grey;
    border-left: 2px solid grey;
}

#main .objeto {
    width: 100%;
}

#main .objeto a:hover {
    color: #ffffff;
    background: rgb(75, 75, 75);
}

footer {
    background:rgb(32, 32, 32);
    color: #fff;
}

table.dataTable.dataTable_width_auto {
    width: auto;
}


/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #e2e2e2;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0px 0px;
    background: #e2e2e2;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    /*align-content: stretch;*/
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


/*.wrapper {
    display: flex;
    width: 100%;
    //align-items: stretch;
}*/

#sidebar {
    /*min-width: 230px;
    max-width: 230px;
    background: #474747;
    color: #fff;
    transition: all 0.3s;

    width: 250px;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;*/
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #474747;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    /*margin-left: -250px;*/
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #474747;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #474747;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #474747;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #474747;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #474747;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /* background: #474747; */
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/*-----------------------------------------------------
    Estilos de card para mostrar info de proyecto
-------------------------------------------------------*/

.img-thumb {
    /* padding-left: 90px; */
    padding-right: 2px;
    width: 300px;
    /* height: 300px; */
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    /*width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;*/
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media screen and (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}