* {
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 2em;
}

.etiqueta {
    font-size: 1em;
    padding-top: 1em;
}

.logo span {
    color: #B70E21;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 0.5em;
}

.contact-form {
    background: #ffffff;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #000000;
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.3s;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background-color:white;
    border: 1px solid;
    color: rgb(34, 34, 34);
    transition: all 0.3s;
}

/* CONTACT INFO */
.contact-info {
    background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    /*body {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }*/
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}