<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/principal.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
 <!--Estilo de CSS -->

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <div class="container">
                <h1>Registrar nuevo proveedor</h1>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>

                <form id="regiration_form" action="/suppliers/add" method="POST">
                    <fieldset>
                        <h2>Paso 1: DATOS GENERALES</h2>
                        <div class="form-group">
                            <label for="Proveedor">Nombre del proveedor</label>
                            <input type="text" class="form-control" id="Proveedor" name="Proveedor"
                                placeholder="Nombre del proveedor" required>
                        </div>
                         <div class="form-group">
                            <label for="TipoServicio"> Tipo de servicio</label>

                            <select name="TipoServicio" id="TipoServicio" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                {{#each services}}
                                <option value="{{idTiposServicio}}">{{Servicio}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="Descripcion">Descripción</label>
                            <input type="text" class="form-control" name="Colonia" id="Colonia">
                        </div>
                        <div class="form-group">
                            <label for="Calificacion">Calificación</label>
                                <div class="form-control" >
                                                      
                                <spam class="fa fa-star" onclick="calificar(this)" style="cursor: pointer;" id="1star"></spam>
                                <spam class="fa fa-star" onclick="calificar(this)" style="cursor: pointer;" id="2star"></spam>
                                <spam class="fa fa-star" onclick="calificar(this)" style="cursor: pointer;" id="3star"></spam>
                                <spam class="fa fa-star" onclick="calificar(this)" style="cursor: pointer;" id="4star"></spam>
                                <spam class="fa fa-star" onclick="calificar(this)" style="cursor: pointer;" id="5star"></spam>
            
                                </div>
                            
                        </div>

                        <input type="button" name="data[password]" class="next btn2" value="Siguiente" />
                    </fieldset>
                    <fieldset>
                        <h2> Paso 2: DIRECCIÓN</h2>

                        <div class="form-group">
                            <label for="Colonia">Colonia</label>
                            <input type="text" class="form-control" name="Colonia" id="Colonia">
                        </div>

                        <div class="form-group">
                            <label for="Calle">Calle</label>
                            <input type="text" class="form-control" name="Calle" id="Calle">
                        </div>
                        <div class="form-group">
                            <label for="Numero">Numero</label>
                            <input type="number" class="form-control" name="Numero" id="Numero">
                        </div>
                        <div class="form-group">
                            <label for="CP">Codigo Postal</label>
                            <input type="number" class="form-control" name="CP" id="CP">
                        </div>
                        
                        
                        <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                        <input type="button" name="next" class="next btn2" value="Siguiente" />
                    </fieldset>
                    <fieldset>
                        <h2>Paso 3: DETALLES</h2>

                        <div class="form-group">
                            <label for="Correo">Correo </label>
                            <input type="email" name="Correo" id="Correo" class="form-control" maxlength="45" required>
                        </div>

                        <div class="form-group">
                            <label for="Telefono">Telefono</label>
                            <input type="text" class="form-control" name="Telefono" id="Telefono">
                        </div>

                         <div class="form-group">
                            <label for="RFC">RFC </label>
                            <input type="text" name="RFC" id="RFC" class="form-control" maxlength="13" minlength="13"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="Encargado">Arquitecto que lo agrega</label>

                            <select name="Encargado" id="Encargado" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                {{#each arquitecto}}
                                <option value="{{idEmpleado}}">{{fullname}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                        <input type="submit" name="submit" class="submit btn2" value="Guardar"
                            id="submit_data" />
                    </fieldset>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var current = 1,
            current_step, next_step, steps;
        steps = $("fieldset").length;
        $(".next").click(function () {
            current_step = $(this).parent();
            next_step = $(this).parent().next();
            next_step.show();
            current_step.hide();
            setProgressBar(++current);
        });
        $(".previous").click(function () {
            current_step = $(this).parent();
            next_step = $(this).parent().prev();
            next_step.show();
            current_step.hide();
            setProgressBar(--current);
        });
        setProgressBar(current);
        // Change progress bar action
        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
                .css("width", percent + "%")
                .html(percent + "%");
        }

        $('#estado').change(function() {
            $.get('/projects/ciudad/'+$(this).val(), function(ciudaData) {
                $('#Ciudad').empty();
                $.each(ciudaData, function(index,city) {
                    $('#Ciudad').append($("<option></option>")
                        .attr("value", city.idCiudad).text(city.Ciudad));
                });
            });
        });

    });
</script>
<script>
    var contador;
    function calificar(item){
        contador=item.id[0]; //Aquí va a tomar la posición del id  como se llaman todos star 
        let nombre=item.id.substring(1); //Va a capturar star
        for (let i=0; i<5;i++){
            if (i<contador){
                document.getElementById((i+1)+nombre).style.color="blue";
            }
            else {
                document.getElementById((i+1)+nombre).style.color="black";
            }
        }
    }
</script>