<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <section>
                <div class="container">
                    {{!-- <h2 class="py-3">Atributos de {{nombre.Servicio}}</h2> --}}
                    <div class="row align-items-center">
                        <div class="col">
                            <a href="/suppliers/{{idProveedor}}/services">
                                <button class="fas fa-arrow-alt-circle-left fa-2x" style="cursor: pointer;"
                                    title="Regresar"></button>
                            </a>
                        </div>
                        <div class="col-7" style="text-align: center;">
                            <h3 class="py-3">Atributos de {{nombre.Servicio}} </h3>
                        </div>
                        <div class="col" style="text-align: end;">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Vista">Vista</label>
                        {{!-- <select name="Vista" id="Vista" class="form-control" required>
                            <option value="">Seleccione una vista</option>
                            <option value="1" selected>Tabla</option>
                            <option value="2">Tarjetas</option>
                        </select> --}}
                        <button id="btnCard" class="fas fa-table fa-lg" style="cursor: pointer;" onclick="showCard();"
                            title="Tarjetas"></button>
                        <button id="btnTable" class="fas fa-stream fa-lg" style="cursor: pointer; color:grey;"
                            onclick="showTable();" title="Tabla"></button>
                    </div>
                </div>
                <!--Ejemplo tabla con DataTables-->
                <div id="tabla" class="container py-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">

                                {{!-- <h2 class="py-3">Atributos de {{nombre.Servicio}}</h2> --}}
                                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th><i class="fas fa-plus-circle lead"></i></th>
                                            <th>ID</th>
                                            <th>Atributo</th>
                                            <th>Descripcion</th>
                                            <th> </th>
                                            {{!-- <th>Atributos </th> --}}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each attr}}
                                        <tr>
                                            <td><i class="fas fa-tag lead"></i></td>
                                            <td>{{idAtributo}}</td>
                                            <td id="tName{{idAtributo}}">{{Atributo}}</td>
                                            <td id="tDesc{{idAtributo}}">{{Descripcion_IyE}}</td>
                                            <td>
                                                <a href="javascript:tableEditar({{idAtributo}});" class="text-info"
                                                    title="Editar información">
                                                    <i class="fas fa-pencil-alt lead"></i>
                                                </a>
                                            </td>
                                            {{!-- <td>
                                                <a href="/services/delete/{{idCdeServicios}}" class="text-danger">
                                                    <i class="fas fa-trash-alt lead"></i>
                                                </a>
                                            </td> --}}
                                        </tr>
                                        {{else}}
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tarjeta" class="container py-2">
                    {{!-- <h2 class="py-3">Atributos de {{nombre.Servicio}}</h2> --}}
                    <div class="row">
                        {{#each attr}}
                        <div class="card col-md-4 p-0 my-2">
                            <div class="card-header">
                                <h6 class="font-weight-bold mb-0">{{Atributo}}</h6>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 d-flex ">
                                    <div class="mx-auto">
                                        <div class="objeto">
                                            {{!-- <h4 class="font-weight-bold nb-0">Proyectos próximos </h4> --}}
                                            <h6 class="alineado"><strong>Descripcion:</strong> {{Descripcion_IyE}}
                                            </h6>

                                            {{!-- <a class="d-block p-1 alineado" role="cell" href="/projects"> Ver
                                                todos
                                            </a> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="mx-auto d-flex alineado">
                                    <a class="text-info px-2" href="javascript:cardEditar({{idAtributo}});"
                                        title="Editar información"> <i class="fas fa-pencil-alt lead"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="card col-md-4 p-0 mx-auto">
                            <div class="card-header">
                                <h6 class="font-weight-bold mb-0">Atributos</h6>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 d-flex ">
                                    <div class="mx-auto">
                                        <div class="objeto">
                                            {{!-- <h4 class="font-weight-bold nb-0">Proyectos próximos </h4> --}}
                                            <h5 class="alineado">El servicio no tiene atributos agregados
                                            </h5>
                                            {{!-- <a class="d-block p-1 alineado" role="cell" href="/projects"> Ver
                                                todos
                                            </a> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer objeto">
                                <a class="d-block p-1 alineado" role="cell"
                                    href="/suppliers/{{idProveedor}}/services/{{idServicio}}/attributes/edit"> Agregar atributos
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <!--<div class="container py-4">
                    <div class="row">
                        <div class="col-2 alineado">
                        </div>
                        <div class="col-4 alineado">
                            <button type="button" class="btn1">Modificar</button>
                        </div>
                        <div class="col-4 alineado">
                            <button type="button" class="btn1">Eliminar</button>
                        </div>
                        <div class="col-2 alineado">
                        </div>
                    </div>
                </div>-->
                <div class="container py-4">
                    <div class="row">
                        <div class="block mx-auto col-md-3 alineado py-2">
                            <a href="/suppliers/{{idProveedor}}/services">
                                <button type="button" class="btn1">Regresar </button>
                            </a>
                        </div>
                        <div class="block mx-auto col-md-3 alineado py-2 gestor">
                            <a href="/suppliers/{{idProveedor}}/services/{{idServicio}}/attributes/edit">
                                <button type="button" class="btn1">Editar atributos </button>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

<div class="modal fade container-fluid" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Editar atributo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <h6 style="color: black;"><i class="fas fa-exclamation-circle"></i>&nbsp&nbspEl cambio se verá reflejado
                    en los servicios que tengan este atributo</h6>
                <form action="/suppliers/{{idProveedor}}/services/{{idServicio}}/attributes/info" method="POST">

                    <div class="container-fluid">
                        <div class="form-group pt-3">
                            <label for="Edit_Atributo">Nombre </label>
                            <input type="text" name="Edit_Atributo" id="Edit_Atributo" class="form-control inputEdit"
                                placeholder="Nombre del atributo" required>
                        </div>
                        <div class="form-group">
                            <label for="Edit_Descripcion">Descripción </label>
                            <textarea type="text" class="form-control inputEdit" id="Edit_Descripcion" name="Edit_Descripcion"
                                rows="3" placeholder="Descripción del atributo" required></textarea>
                        </div>
                        <div>
                            <input type="hidden" name="Edit_ID" id="Edit_ID" value="" required>
                        </div>
                    </div>
                    <div class="modal-footer gestor">
                        <button type="button" class="btn1 btn-secondary mx-auto col-md-7"
                            data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn1 btn-primary mx-auto col-md-7" id="btnEdit">Completar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $.get('/dropElements', function (clases) {
            $.each(clases, function (index, el) {
                $(`.${el.Clase}`).remove();
            });
        });

        $.get('/disableSupplier', function (clases) {
            if (clases.length > 0) {
                $(`.${clases[0].Clase}`).remove();
                $('.inputEdit').prop('disabled', true);
            }
        });

        $('#myTable').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "sProcessing": "Procesando..."
            },
            columnDefs: [
                {
                    width: "30px",
                    targets: 0
                },
                {
                    "targets": [1],
                    "visible": false,
                    "searchable": false
                },
                {
                    width: "250px",
                    targets: 2
                },
                {
                    width: "20px",
                    targets: 4
                }
            ]
        });

        showCard();
    });

    //const selectVista = document.querySelector('#Vista');
    //selectVista.onchange = function () {
    //const vista = document.getElementById('Vista').value;

    //if (vista === '1') {
    //$('#tarjeta').hide();
    //$('#tabla').show();
    //}
    //if (vista === '2') {
    //$('#tarjeta').show();
    //$('#tabla').hide();
    //}
    //return false;
    //}

    function showTable() {
        $('#tarjeta').hide();
        $('#tabla').show();
        $('#btnTable').css("color", "rgb(32, 32, 32)");
        $('#btnCard').css("color", "grey");
    }

    function showCard() {
        $('#tarjeta').show();
        $('#tabla').hide();
        $('#btnTable').css("color", "grey");
        $('#btnCard').css("color", "rgb(32, 32, 32)");
    }

    function cardEditar(id) {
        $('#Edit_Atributo').val($(`#tName${id}`).html());
        $('#Edit_Descripcion').val($(`#tDesc${id}`).html());
        $('#Edit_ID').val(id);
        $("#modalEdit").modal("show");
    }

    function tableEditar(id) {
        $('#Edit_Atributo').val($(`#tName${id}`).html());
        $('#Edit_Descripcion').val($(`#tDesc${id}`).html());
        $('#Edit_ID').val(id);
        $("#modalEdit").modal("show");
    }
</script>