<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content  -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <section>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col">
                            <button class="fas fa-arrow-alt-circle-left fa-2x" style="cursor: pointer;"
                                onclick="window.history.back();" title="Regresar"></button>
                        </div>
                    
                        <div class="col-7" style="text-align: center;">
                            <h3 class="py-3">Proveedores </h3>
                        </div>
                        <div class="col" style="text-align: end;">
                            <a href="javascript:nuevoProveedor();" class="text-dark gestor" title="Agregar proveedor"><i
                                    class="fas fa-plus-circle fa-2x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Vista">Vista</label>
                        {{!-- <select name="Vista" id="Vista" class="form-control" required>
                            <option value="">Seleccione una vista</option>
                            <option value="1" selected>Tabla</option>
                            <option value="2">Tarjetas</option>
                        </select> --}}
                        <button id="btnCard" class="fas fa-table fa-lg" style="cursor: pointer;" onclick="showCard();"
                            title="Tarjetas"></button>
                        <button id="btnTable" class="fas fa-stream fa-lg" style="cursor: pointer; color:grey;"
                            onclick="showTable();" title="Tabla"></button>
                    </div>
                </div>
                <!--Ejemplo tabla con DataTables-->
                <div id="tabla" class="container py-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">

                                {{!-- <h2 class="py-3">Atributos de {{nombre.Servicio}}</h2> --}}
                                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th><i class="fas fa-plus-circle lead"></i></th>
                                            <th>Nombre</th>
                                            <th>Tipo</th>
                                            <th>Correo</th>
                                            <th>Teléfono</th>
                                            <th>RFC</th>
                                            <th>Calificación</th>
                                            <th> </th>
                                            {{!-- <th>Atributos </th> --}}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each suppliers}}
                                        <tr>
                                            <td><i class:"fas fa-truck lead"></i></td>
                                            <td id="nom{{idProveedor}}">{{Nombre}}</td>
                                            <td id="tipo{{idProveedor}}">{{Tipo}}</td>
                                            <td id="correo{{idProveedor}}">{{Correo}}</td>
                                            <td id="tel{{idProveedor}}">{{Telefono}}</td>
                                            <td id="rfc{{idProveedor}}">{{RFC}}</td>
                                            <td id="rfc{{idProveedor}}">{{Score}}/5</td>
                                            <td>
                                                <a href="javascript:editarProveedor({{idProveedor}});" class="text-info"
                                                    title="Editar información">
                                                    <i class="fas fa-pencil-alt lead"></i>
                                                </a>
                                            </td>
                                            {{!-- <td>
                                                <a href="/services/delete/{{idCdeServicios}}" class="text-danger">
                                                    <i class="fas fa-trash-alt lead"></i>
                                                </a>
                                            </td> --}}
                                        </tr>
                                        {{else}}
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tarjeta" class="container py-2">
                    {{!-- <h2 class="py-3">Atributos de {{nombre.Servicio}}</h2> --}}
                    <div class="row">
                        {{#each suppliers}}
                        <div class="card col-md-4 p-0 my-2">
                            <div class="card-header">
                                <h6 class="font-weight-bold mb-0">{{Nombre}}</h6>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 d-flex ">
                                    <div class="mx-auto">
                                        <div class="objeto">
                                            {{!-- <h4 class="font-weight-bold nb-0">Proyectos próximos </h4> --}}
                                            <h6 class="alineado"><strong>Tipo:</strong> {{Tipo}}
                                            </h6>
                                            <h6 class="alineado"><strong>Teléfono:</strong> {{Telefono}}
                                            </h6>
                                            <h6 class="alineado"><strong>Correo:</strong> {{Correo}}
                                            </h6>
                                            <h6 class="alineado"><strong>RFC:</strong> {{RFC}}
                                            </h6>
                                            <h6 class="alineado"><strong>Calificación:</strong> {{Score}}/5
                                            </h6>

                                            {{!-- <a class="d-block p-1 alineado" role="cell" href="/projects"> Ver
                                                todos
                                            </a> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="mx-auto d-flex alineado">
                                    <a class="text-info px-2" href="javascript:editarProveedor({{idProveedor}});"
                                        title="Editar información"> <i class="fas fa-pencil-alt lead"></i>
                                    </a>
                                    <a class="text-danger px-2" href="/suppliers/{{idProveedor}}/services"
                                        title="Servicios de {{Nombre}}"> <i class="fas fa-object-group mr-2 lead"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="card col-md-4 p-0 mx-auto">
                            <div class="card-header">
                                <h6 class="font-weight-bold mb-0">Proveedores</h6>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 d-flex ">
                                    <div class="mx-auto">
                                        <div class="objeto">
                                            {{!-- <h4 class="font-weight-bold nb-0">Proyectos próximos </h4> --}}
                                            <h5 class="alineado">No hay proveedores agregados
                                            </h5>
                                            {{!-- <a class="d-block p-1 alineado" role="cell" href="/projects"> Ver
                                                todos
                                            </a> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer objeto">
                                <a class="d-block p-1 gestor alineado" role="cell" href="javascript:nuevoProveedor();"> Agregar
                                    proveedor
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>


                <!-- <div class="container">
                    <div class="table-responsive" style="overflow-x: hidden;">
                        <div class="row align-items-center">
                            <div class="col">
                                {{!-- <i class="fas fa-arrow-alt-circle-left fa-2x "></i> --}}
                            </div>
                            <div class="col-8" style="text-align: center;">
                                <h2 class="py-3"> Proveedores</h2>
                            </div>
                            <div class="col" style="text-align: end;">
                                <a href="javascript:nuevoProveedor();" class="text-dark" title="Agregar proveedor"><i
                                        class="fas fa-plus-circle fa-2x"></i>
                                </a>
                            </div>
                        </div>

                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            {{#each suppliers}}
                            <a href="/suppliers#{{idProveedor}}">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">{{Nombre}}</h5>
                                            <p class="card-text">
                                                Tipo: {{Tipo}} <br>
                                                Teléfono: {{Telefono}} <br>
                                                Correo: {{Descripcion}}<br>
                                                Teléfono:{{Telefono}}<br>
                                                RFC: {{RFC}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {{else}}
                            {{/each}}
                        </div>
                    </div>
                    <br>
                </div> -->

            </section>

        </div>
    </div>
</div>

<div class="modal fade container-fluid gestor" tabindex="-1" id="modalAdd" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel" style="color: black;">Agregar proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 style="color: black;"><strong>*</strong> Campos obligatorios</h6>
                <form name="Form1" id="regiration_form" action="/suppliers/add" method="POST">
                    <div class="container-fluid">
                        <div class="form-group pt-3">
                            <label class="form-label">Nombre* </label>
                            <input type="text" class="form-control" id="Proveedor" name="Proveedor"
                                placeholder="Nombre del proveedor" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Tipo de servicio*</label>
                            <select class="form-control" id="TipoServicio" name="TipoServicio" required>
                                <option value="">Seleccione el tipo de servicio</option>
                                <option value="Material">Material</option>
                                <option value="Intelectual">Intelectual</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Descripción</label>
                            <input type="text" class="form-control" id="Descripcion" name="Descripcion"
                                placeholder="Descripción">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Estado*</label>
                            <select class="form-control" id="Estado" name="Estado" required>
                                <option value="">Seleccione el estado</option>
                                {{#each states}}
                                <option value={{idEstado}}>{{Estado}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Ciudad*</label>
                            <select class="form-control" id="Ciudad" name="Ciudad" required>
                                <option value="">Seleccione la ciudad</option>
                                {{#each cities}}
                                <option value={{idCiudad}}>{{Ciudad}}</option>
                                {{else}}
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Colonia</label>
                            <input type="text" class="form-control" id="Colonia" name="Colonia" placeholder="Colonia">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Calle</label>
                            <input type="text" class="form-control" id="Calle" name="Calle" placeholder="Calle">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Número</label>
                            <input type="text" class="form-control" id="Numero" name="Numero"
                                onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="4"
                                minlength="1" placeholder="Número de la dirección">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Código postal</label>
                            <input type="text" class="form-control"
                                onkeypress='return event.charCode >= 48 && event.charCode <= 57' id="CP" name="CP"
                                maxlength="5" minlength="5" placeholder="Código postal">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Correo*</label>
                            <input type="email" class="form-control" id="Correo" name="Correo"
                                placeholder="Correo electrónico" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Teléfono*</label>
                            <input type="text" class="form-control" id="Telefono" name="Telefono"
                                onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
                                minlength="10" placeholder="Teléfono" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label">RFC</label>
                            <input type="text" class="form-control" id="RFC" name="RFC"
                                onkeypress='return event.charCode >= 48 && event.charCode <= 57 || (event.charCode >= 65 && event.charCode <= 90)'
                                maxlength="13" minlength="12" placeholder="RFC" required>
                        </div>

                        <div class="form-group">
                            <label for="Calificacion">Calificación</label>
                            <div class="form-control">

                                <spam class="fa fa-star" onclick="calificar(this)" style="cursor: pointer;" id="1">
                                </spam>
                                <spam class="fa fa-star" onclick="calificar(this)" style="cursor: pointer;" id="2">
                                </spam>
                                <spam class="fa fa-star" onclick="calificar(this)" style="cursor: pointer;" id="3">
                                </spam>
                                <spam class="fa fa-star" onclick="calificar(this)" style="cursor: pointer;" id="4">
                                </spam>
                                <spam class="fa fa-star" onclick="calificar(this)" style="cursor: pointer;" id="5">
                                </spam>

                            </div>

                        </div>
                        <div>
                            <input type="hidden" name="Calif" id="Calif" value="0" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn1 btn-secondary mx-auto col-md-7"
                            data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn1 btn-primary mx-auto col-md-7" id="btnAdd">Completar</button>
                    </div>

                    {{!-- <button type="submit" name="submit" class="btn btn-primary" value="Guardar">Guardar</button>
                    --}}
                </form>
            </div>
            <!--div class="modal-footer"><h10>Los campos marcados con "*" son obligatorios</h10></div-->

        </div>
    </div>
</div>

<div class="modal fade container-fluid" tabindex="-1" id="modalEdit" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel" style="color: black;">Editar proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 style="color: black;"><strong>*</strong> Campos obligatorios</h6>
                <form name="Form1" id="edit_form" action="/suppliers/edit" method="POST">
                    <div class="container-fluid">
                        <div class="form-group pt-3">
                            <label class="form-label">Nombre* </label>
                            <input type="text" class="form-control inputEdit" id="Edit_Proveedor" name="Proveedor"
                                placeholder="Nombre del proveedor" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Tipo de servicio* </label>
                            <select class="form-control inputEdit" id="Edit_TipoServicio" name="TipoServicio" required>
                                <option value="">Seleccione el tipo de servicio</option>
                                <option value="Material">Material</option>
                                <option value="Intelectual">Intelectual</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Descripción</label>
                            <input type="text" class="form-control inputEdit" id="Edit_Descripcion" name="Descripcion"
                                placeholder="Descripción">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Estado*</label>
                            <select class="form-control inputEdit" id="Edit_Estado" name="Estado" required>
                                <option value="">Seleccione el estado</option>
                                {{#each states}}
                                <option value={{idEstado}}>{{Estado}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Ciudad*</label>
                            <select class="form-control inputEdit" id="Edit_Ciudad" name="Ciudad" required>
                                <option value="">Seleccione la ciudad</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Colonia</label>
                            <input type="text" class="form-control inputEdit" id="Edit_Colonia" name="Colonia"
                                placeholder="Colonia">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Calle</label>
                            <input type="text" class="form-control inputEdit" id="Edit_Calle" name="Calle"
                                placeholder="Calle">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Número</label>
                            <input type="text" class="form-control inputEdit" id="Edit_Numero" name="Numero"
                                onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="4"
                                minlength="1" placeholder="Número">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Código postal</label>
                            <input type="text" class="form-control inputEdit"
                                onkeypress='return event.charCode >= 48 && event.charCode <= 57' id="Edit_CP" name="CP"
                                maxlength="5" minlength="5" placeholder="Código postal">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Correo*</label>
                            <input type="email" class="form-control inputEdit" id="Edit_Correo" name="Correo"
                                placeholder="Correo electrónico" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Teléfono*</label>
                            <input type="text" class="form-control inputEdit" id="Edit_Telefono" name="Telefono"
                                onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
                                minlength="10" placeholder="Teléfono" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label">RFC</label>
                            <input type="text" class="form-control inputEdit" id="Edit_RFC" name="RFC"
                                onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90)'
                                maxlength="13" minlength="12" placeholder="RFC" required>
                        </div>

                        <div class="form-group">
                            <label for="Calificacion">Calificación</label>
                            <div class="form-control">

                                <spam class="fa fa-star calificacion" onclick="editCalificar(1)"
                                    style="cursor: pointer;" id="Edit_1">
                                </spam>
                                <spam class="fa fa-star calificacion" onclick="editCalificar(2)"
                                    style="cursor: pointer;" id="Edit_2">
                                </spam>
                                <spam class="fa fa-star calificacion" onclick="editCalificar(3)"
                                    style="cursor: pointer;" id="Edit_3">
                                </spam>
                                <spam class="fa fa-star calificacion" onclick="editCalificar(4)"
                                    style="cursor: pointer;" id="Edit_4">
                                </spam>
                                <spam class="fa fa-star calificacion" onclick="editCalificar(5)"
                                    style="cursor: pointer;" id="Edit_5">
                                </spam>

                            </div>

                        </div>
                        <div>
                            <input type="hidden" name="Calif" id="Edit_Calif" value="0" required>
                        </div>
                        <div>
                            <input type="hidden" name="Edit_ID" id="Edit_ID" value="" required>
                        </div>
                    </div>
                    <div class="modal-footer gestor">
                        <button type="button" class="btn1 btn-secondary mx-auto col-md-7"
                            data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn1 btn-primary mx-auto col-md-7" id="btnEdit">Completar</button>
                    </div>

                    {{!-- <button type="submit" name="submit" class="btn btn-primary" value="Guardar">Guardar</button>
                    --}}
                </form>
            </div>
            <!--div class="modal-footer"><h10>Los campos marcados con "*" son obligatorios</h10></div-->

        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $.get('/dropElements', function (clases) {
            $.each(clases, function (index, el) {
                $(`.${el.Clase}`).remove();
            });
        });

        $.get('/disableSupplier', function (clases) {
            if (clases.length > 0) {
                $(`.${clases[0].Clase}`).remove();
                $('.inputEdit').prop('disabled', true);
                $('.calificacion').removeAttr('onclick');
            }
        });

        $('#myTable').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "sProcessing": "Procesando..."
            },
            columnDefs: [
                {
                    width: "30px",
                    targets: 0
                },
                {
                    width: "70px",
                    targets: 6
                },
                {
                    width: "20px",
                    targets: 7
                }
            ]
        });

        showCard();
    });

    function showTable() {
        $('#tarjeta').hide();
        $('#tabla').show();
        $('#btnTable').css("color", "rgb(32, 32, 32)");
        $('#btnCard').css("color", "grey");
    }

    function showCard() {
        $('#tarjeta').show();
        $('#tabla').hide();
        $('#btnTable').css("color", "grey");
        $('#btnCard').css("color", "rgb(32, 32, 32)");
    }

    function nuevoProveedor() {
        $('#Proveedor').val('');
        $('#TipoServicio').val('');
        $('#Descripcion').val('');
        $('#Estado').val('');
        $('#Ciudad').empty();
        $('#Ciudad').append($("<option></option>")
            .attr("value", '-1').text('Seleccione la ciudad'));
        $("#Colonia").val('');
        $("#Calle").val('');
        $("#Numero").val('');
        $("#CP").val('');
        $("#Correo").val('');
        $("#Telefono").val('');
        $("#RFC").val('');
        $("#Telefono").val('');
        $("#Calif").val('0');
        $("#modalAdd").modal("show");
    }

    $('#Estado').change(function () {
        $.get('/projects/ciudad/' + $(this).val(), async function (ciudadData) {
            $('#Ciudad').empty();
            $('#Ciudad').append($("<option></option>")
                .attr("value", '').text('Seleccione la ciudad'));
            await $.each(ciudadData, function (index, city) {
                $('#Ciudad').append($("<option></option>")
                    .attr("value", city.idCiudad).text(city.Ciudad));
            });
        });
    });

    function editarProveedor(id) {
        $.get('/suppliers/info/' + id, async function (proveedor) {
            $('#Edit_Ciudad').empty();
            $('#Edit_Ciudad').append($("<option></option>")
                .attr("value", '').text('Seleccione la ciudad'));

            $('#Edit_Proveedor').val(proveedor[0].Nombre);
            $('#Edit_TipoServicio').val(proveedor[0].Tipo);
            $('#Edit_Descripcion').val(proveedor[0].Descripcion);
            $('#Edit_Estado').val(proveedor[0].Estado);
            await cargarCiudades();
            $('#Edit_Ciudad').val(proveedor[0].Ciudad);
            $("#Edit_Colonia").val(proveedor[0].Colonia);
            $("#Edit_Calle").val(proveedor[0].Calle);
            $("#Edit_Numero").val(proveedor[0].Numero);
            $("#Edit_CP").val(proveedor[0].CP);
            $("#Edit_Correo").val(proveedor[0].Correo);
            $("#Edit_Telefono").val(proveedor[0].Telefono);
            $("#Edit_RFC").val(proveedor[0].RFC);

            editCalificar(proveedor[0].Score);
            $("#Edit_Calif").val(proveedor[0].Score);

            $('#Edit_ID').val(id);
            $("#modalEdit").modal("show");
        });
    }

    const selectEstado = document.querySelector('#Edit_Estado');
    selectEstado.onchange = function () {
        return cargarCiudades();
    }

    async function cargarCiudades() {
        const estado = document.getElementById('Edit_Estado').value;
        $('#Edit_Ciudad').empty();
        $('#Edit_Ciudad').append('<option value="">Seleccione una ciudad</option>');

        if (estado === '') {
            $('#Edit_Ciudad').val('');
        }
        else {
            await $.get('/projects/ciudad/' + estado, async function (ciudadData) {
                //$('#Ciudad').empty();
                //$('#Ciudad').append($("<option></option>")
                //.attr("value", '-1').text('Seleccione la ciudad'));
                await $.each(ciudadData, function (index, city) {
                    $('#Edit_Ciudad').append($("<option></option>")
                        .attr("value", city.idCiudad).text(city.Ciudad));
                });
            });
        }
    }

    function calificar(item) {
        let contador = item.id[0]; //Aquí va a tomar la posición del id  como se llaman todos star 
        $('#Calif').val(contador)
        let nombre = item.id.substring(1); //Va a capturar star
        for (let i = 0; i < 5; i++) {
            if (i < contador) {
                //document.getElementById((i + 1) + nombre).style.color = "blue";
                $(`#${(i + 1)}`).css("color", "blue");
            }
            else {
                //document.getElementById((i + 1) + nombre).style.color = "black";
                $(`#${(i + 1)}`).css("color", "black");
            }
        }
    }

    function editCalificar(contador) {
        //let contador = item.id[5]; //Aquí va a tomar la posición del id  como se llaman todos star 
        $('#Edit_Calif').val(contador)
        //let nombre = item.id.substring(1); //Va a capturar star
        for (let i = 0; i < 5; i++) {
            if (i < contador) {
                //document.getElementById((i + 1) + nombre).style.color = "blue";
                $(`#Edit_${(i + 1)}`).css("color", "blue");
            }
            else {
                //document.getElementById((i + 1) + nombre).style.color = "black";
                $(`#Edit_${(i + 1)}`).css("color", "black");
            }
        }
    }

    //function VerEstado() {
        //let viledruid = document.getElementById("Estado");
        //let valor = viledruid.options[viledruid.selectedIndex].value;
    //}
</script>