<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content  -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <section>
                <!--<div class="contact-wrapper">
                    <div class="contact-form">
                        <h5 class="logo">Cambiar contraseña</h5>
                        <form action="/profile/password" method="POST" id="Form">
                            <p>
                                <label>Contraseña actual</label>
                                <input type="password" name="actualPassword" id="actualPassword" value="" minlength="6"
                                    required>
                            </p>
                            <p>
                                <label>Contraseña nueva</label>
                                <input type="password" name="newPassword" id="newPassword" value="" minlength="6"
                                    maxlength="45" title="La contraseña debe tener al menos 6 caracteres" required>
                            </p>
                            <p>
                                <input type="hidden" name="email" value="{{user.Correo}}" required>
                            </p>
                            <p>
                                <label>Confirma contraseña</label>
                                <input type="password" name="confirmPassword" id="confirmPassword" value=""
                                    minlength="6" maxlength="45" required>
                            </p>
                            <p class="block mx-auto col-md-3">
                                <button class="btn1 mx-auto" id="btnForm">
                                    Guardar
                                </button>
                            </p>
                        </form>
                    </div>
                </div>-->
                <div class="container">
                    <!--<div class="container-fluid alineado">-->
                    {{!-- <h3 class="font-weight-bold logo">Cambiar contraseña</h3> --}}
                    <!--</div>-->
                    <div class="row align-items-center">
                        <div class="col">
                            <button class="fas fa-arrow-alt-circle-left fa-2x" style="cursor: pointer;"
                                onclick="window.history.back();" title="Regresar"></button>
                        </div>
                        <div class="col-7" style="text-align: center;">
                            <h2 class="pb-3"> Cambiar contraseña</h2>
                        </div>
                        <div class="col" style="text-align: end;">
                            
                        </div>
                    </div>

                    <form action="/client/password" method="POST" id="Form">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 mx-auto pt-3">
                            <label for="actualPassword">Contraseña actual</label>
                            <input type="password" name="actualPassword" id="actualPassword" class="form-control"
                                value="" minlength="6" placeholder="********" required>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 mx-auto">
                            <label for="newPassword">Contraseña nueva</label>
                            <input type="password" name="newPassword" id="newPassword" class="form-control" value=""
                                minlength="6" maxlength="45" title="La contraseña debe tener al menos 6 caracteres"
                                placeholder="Nueva contraseña" required>
                        </div>
                        <div>
                            <input type="hidden" name="email" value="{{user.Correo}}" required>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 mx-auto">
                            <label for="confirmPassword">Confirma contraseña</label>
                            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                                value="" minlength="6" maxlength="45" placeholder="Confirmar contraseña" required>
                        </div>
                        <div class="container py-4">
                            <div class="row">
                                <div class="block mx-auto col-md-3 alineado py-2">
                                    <a href="/home">
                                        <button type="button" class="btn1">Regresar </button>
                                    </a>
                                </div>
                                <div class="block mx-auto col-md-3 alineado py-2">
                                    <button type="submit" class="btn1 mx-auto" id="btnForm">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $.get('/dropElements', function (clases) {
            $.each(clases, function (index, el) {
                $(`.${el.Clase}`).remove();
            });
        });
    });

    const btnForm = document.querySelector('#btnForm');
    btnForm.onclick = function () {
        const pass = $("#newPassword").val();
        const confPass = $("#confirmPassword").val();
        if (pass !== confPass) {
            alert("Las contraseñas ingresadas no coinciden");
            return false;
        }
        //document.forms["Form"].submit();
    }
</script>