<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content  -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <section>
                <!--Ejemplo tabla con DataTables-->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col">
                            <a href="/client">
                                <button class="fas fa-arrow-alt-circle-left fa-2x" style="cursor: pointer;"
                                    title="Regresar"></button>
                            </a>
                        </div>
                        <div class="col-7" style="text-align: center;">
                            <h2 class="py-3">Cotizaciones del proyecto</h2>
                        </div>
                        <div class="col" style="text-align: end;">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Vista">Vista</label>
                        {{!-- <select name="Vista" id="Vista" class="form-control" required>
                            <option value="">Seleccione una vista</option>
                            <option value="1" selected>Tabla</option>
                            <option value="2">Tarjetas</option>
                        </select> --}}
                        <button id="btnCard" class="fas fa-table fa-lg" style="cursor: pointer; color:grey;"
                            onclick="showCard();" title="Tarjetas"></button>
                        <button id="btnTable" class="fas fa-stream fa-lg" style="cursor: pointer;"
                            onclick="showTable();" title="Tabla"></button>
                    </div>
                    <!--Ejemplo tabla con DataTables-->
                    <div id="tabla" class="container py-2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">

                                    <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th><i class="fas fa-plus-circle lead"></i></th>
                                                <th>Servicio </th>
                                                <th>Costo </th>
                                                <th>Descripción </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each quotes}}
                                            <tr>
                                                <td><i class="fas fa-clipboard lead"></i></td>
                                                <td>{{Servicio}}</td>
                                                <td>{{Costo}}</td>
                                                <td>{{Descripcion}}</td>
                                                <td>
                                                    <a href="javascript:editarCotizacion({{idCotizacion}});"
                                                        class="text-info" title="Ver información de la cotización">
                                                        <i class="fas fa-eye lead"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {{else}}
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tarjeta" class="container py-2">
                        {{!-- <h2 class="py-3">Clientes</h2> --}}
                        <div class="row alineado">
                            {{#each quotes}}

                            <div class="card col-md-4 p-0 my-2 ">
                                <div class="card-header">
                                    <h6 class="font-weight-bold mb-0">{{Servicio}}</h6>
                                </div>

                                <div class="card-body">
                                    <div class="col-md-12 d-flex ">
                                        <div class="mx-auto">
                                            <div class="objeto">

                                                <h6 class="alineado"><strong>Costo:</strong> ${{Costo}}</h6>
                                                <h6 class="alineado"><br><strong>Descripción</strong> </br>
                                                    {{Descripcion}}
                                                </h6>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer">

                                    <div class="row alineado">
                                        <div class="iconosFeos">
                                            <a href="javascript:editarCotizacion({{idCotizacion}});" class="text-info"
                                                title="Ver información de la cotización">
                                                <i class="fas fa-eye lead"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {{else}}
                            <div class="card col-md-3 p-0 mx-auto">
                                <div class="card-header">
                                    <h6 class="font-weight-bold mb-0">Cotizaciones</h6>
                                </div>
                                <div class="card-body">
                                    <div class="col-md-12 d-flex ">
                                        <div class="mx-auto">
                                            <div class="objeto">
                                                {{!-- <h4 class="font-weight-bold nb-0">Proyectos próximos </h4> --}}
                                                <h5 class="alineado">No hay cotizaciones agregadas
                                                </h5>
                                                {{!-- <a class="d-block p-1 alineado" role="cell" href="/projects"> Ver
                                                    todos
                                                </a> --}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer objeto">
                                    <a class="d-block p-1 alineado" role="cell" href="/projects/add"> Agregar cotización
                                    </a>
                                </div>
                            </div>


                            {{/each}}
                        </div>
                    </div>
                </div>
                <!--  <div class="container py-4">
                    <div class="row">
                        <div class="col-2 alineado">
                        </div>
                        <div class="col-4 alineado">
                            <button type="button" class="btn1">Modificar</button>
                        </div>
                        <div class="col-4 alineado">
                            <button type="button" class="btn1">Eliminar</button>
                        </div>
                        <div class="col-2 alineado">
                        </div>
                    </div>
                </div> -->
                <div class="container py-4">
                    <div class="row">
                        <div class="block mx-auto col-md-3 alineado py-2">
                            <a href="/client">
                                <button type="button" class="btn1">Regresar </button>
                            </a>
                        </div>
                    </div>
                </div>

            </section>

        </div>
    </div>
</div>

<div class="modal fade container-fluid" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Información de la cotización</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <form action="" method="POST">

                    <div class="container-fluid">
                        <div class="form-group pt-3">
                            <label for="Costo">Costo </label>
                            <input type="text" name="Costo" id="Edit_Costo" class="form-control" maxlength="10"
                                onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)'
                                placeholder="Costo de la cotización" readonly>
                        </div>
                        <div class="form-group">
                            <label for="Descripcion">Descripción de la cotización</label>
                            <textarea type="text" class="form-control" id="Edit_Descripcion" name="Descripcion" rows="3"
                                placeholder="Descripción de la cotización" readonly></textarea>
                        </div>
                        <div class="form-group pt-3" id="checklist">

                        </div>
                        <div style="display: none;">
                            <textarea type="text" class="form-control" id="Atributos" name="Atributos" rows="3"
                                placeholder="Descripción de la cotización" readonly></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn1 btn-secondary mx-auto col-md-7"
                            data-dismiss="modal">Cerrar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    let atributos = [];
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $.get('/dropElements', function (clases) {
            $.each(clases, function (index, el) {
                $(`.${el.Clase}`).remove();
            });
        });

        // $('#estado').change(function () {
        //    $.get('/projects/ciudad/' + $(this).val(), function (ciudaData) {
        //        $('#Ciudad').empty();
        //        $.each(ciudaData, function (index, city) {
        //            $('#Ciudad').append($("<option></option>")
        //                .attr("value", city.idCiudad).text(city.Ciudad));
        //        });
        //    });
        // });

        $('#myTable').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "sProcessing": "Procesando..."
            },
            columnDefs: [
                {
                    width: "30px",
                    targets: 0
                },
                {
                    width: "30px",
                    targets: 4
                }
            ]

        });

        showTable();
    });

    function nuevaCotizacion() {
        $('#Servicio').val('');
        $('#Costo').val('');
        $('#Descripcion').val('');
        $("#modalAdd").modal("show");
    }

    function editarCotizacion(id) {
        $('#checklist').html(
            '<label>Checklist del servicio</label>'
        );
        $.get(`/projects/${id}/checklist`, function (data) {
            $('#Edit_Costo').val(data.cotizacion.Costo);
            $('#Edit_Descripcion').val(data.cotizacion.Descripcion);
            $('#Atributos').val(JSON.stringify(data.atributos));

            data.atributos.forEach(function (el, index) {
                let check = '';
                if (el.stat === '1')
                    check = 'checked';
                $('#checklist').append(
                    `
                    <div class="checkbox pt-2 ml-3">
                        <label>
                            <input ${check} onclick="cambiarLista(${index})" type="checkbox" value="${el.attr}" disabled>&nbsp&nbsp${el.nom}
                        </label>
                    </div>
                    `
                );
            });

            atributos = JSON.parse($('#Atributos').val());
        });

        $('#Edit_ID').val(id);
        $("#modalEdit").modal("show");
    }

    function cambiarLista(index) {
        if (atributos[index].stat === '0') {
            //alert('Marcado')
            atributos[index].stat = '1'
            $('#Atributos').val(JSON.stringify(atributos));
        }
        else {
            //alert('No marcado')
            atributos[index].stat = '0'
            $('#Atributos').val(JSON.stringify(atributos));
        }
    }

    function showTable() {
        $('#tarjeta').hide();
        $('#tabla').show();
        $('#btnTable').css("color", "rgb(32, 32, 32)");
        $('#btnCard').css("color", "grey");
    }

    function showCard() {
        $('#tarjeta').show();
        $('#tabla').hide();
        $('#btnTable').css("color", "grey");
        $('#btnCard').css("color", "rgb(32, 32, 32)");
    }
</script>