<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content  -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <section>
                <!--Ejemplo tabla con DataTables-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">

                                <h2 class="py-3">Proyectos</h2>
                                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th><i class="fas fa-plus-circle lead"></i></th>
                                            <th>Nombre</th>
                                            <th>Encargado</th>
                                            <th>Fecha</th>
                                            <th>Estado</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each projects}}
                                        <tr>
                                            <td><i class="fas fa-folder-open lead"></i></td>
                                            <td>{{Proyecto}}</td>
                                            <td>{{fullname}}</td>
                                            <td>{{fixDate Fecha_Inicio}}</td>
                                            <td>{{fixStatus Status}}</td>
                                            <td>
                                                <a href="/client/{{idProyecto}}/quotes" class="text-danger"
                                                    title="Ver cotizaciones">
                                                    <i class="fas fa-clipboard lead"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {{else}}
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  <div class="container py-4">
                    <div class="row">
                        <div class="col-2 alineado">
                        </div>
                        <div class="col-2 alineado">
                        </div>
                    </div>
                </div> -->

            </section>

        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });

    $.get('/dropElements', function (clases) {
        $.each(clases, function (index, el) {
            $(`.${el.Clase}`).remove();
        });
    });

    $('#myTable').DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros",
            "zeroRecords": "No se encontraron resultados",
            "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sSearch": "Buscar:",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "sProcessing": "Procesando..."
        },
        columnDefs: [
            {
                width: "30px",
                targets: 0
            },
            {
                width: "30px",
                targets: 5
            }
        ]
    });
</script>