<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content  -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <section>
                <!--Ejemplo tabla con DataTables-->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col">
                            <button class="fas fa-arrow-alt-circle-left fa-2x" style="cursor: pointer;"
                                onclick="window.history.back();" title="Regresar"></button>
                        </div>
                        <div class="col-7" style="text-align: center;">
                            <h3 class="py-3"> Ciudades de {{estado.Estado}}</h3>
                        </div>
                        <div class="col" style="text-align: end;">
                            <button class="fas fa-plus-circle fa-2x" type="button" data-toggle="modal"
                                data-target="#modalAdd" title="Agregar ciudad"></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Vista">Vista</label>
                        {{!-- <select name="Vista" id="Vista" class="form-control" required>
                            <option value="">Seleccione una vista</option>
                            <option value="1" selected>Tabla</option>
                            <option value="2">Tarjetas</option>
                        </select> --}}
                        <button id="btnTable" class="fas fa-stream fa-lg" style="cursor: pointer;"
                            onclick="showTable();" title="Tabla"></button>
                        <button id="btnCard" class="fas fa-table fa-lg" style="cursor: pointer; color:grey;" onclick="showCard();"
                            title="Tarjetas"></button>
                    </div>
                    <!--Ejemplo tabla con DataTables-->
                    <div id="tabla" class="container py-2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">

                                    {{!-- <h2 class="py-3">Ciudades de {{estado.Estado}}</h2> --}}
                                    <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th><i class="fas fa-plus-circle lead"></i></th>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each cities}}
                                            <tr>
                                                <td><i class="fas fa-image lead"></i></td>
                                                <td>{{idCiudad}}</td>
                                                <td>{{Ciudad}}</td>
                                                <td>
                                                    <div>
                                                        <a href="javascript:pressEditar('{{Ciudad}}',{{idCiudad}});"
                                                            class="text-info" title="Editar información">
                                                            <i class="fas fa-pencil-alt lead"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {{else}}
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tarjeta" class="container py-2">
                        {{!-- <h2 class="py-3">Clientes</h2> --}}
                        <div class="row alineado">
                            {{#each cities}}
                            <div class="card col-md-4 p-0 my-2">
                                <div class="card-header">
                                    <h6 class="font-weight-bold mb-0">Ciudades</h6>
                                </div>
                                <div class="card-body">
                                    <div class="col-md-12 d-flex alineado">
                                        <div class="mx-auto">
                                            <div class="objeto">
                                                {{!-- <h4 class="font-weight-bold nb-0">Proyectos próximos </h4> --}}
                                                <h6 class="alineado"><strong>Ciudad:</strong> {{Ciudad}}
                                                </h6>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="mx-auto d-flex alineado">
                                        <a href="javascript:pressEditar('{{Ciudad}}',{{idCiudad}});"
                                            class="text-info px-2" title="Editar información">
                                            <i class="fas fa-pencil-alt lead"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {{else}}
                            <div class="card col-md-3 p-0 mx-auto">
                                <div class="card-header">
                                    <h6 class="font-weight-bold mb-0">Estados</h6>
                                </div>
                                <div class="card-body">
                                    <div class="col-md-12 d-flex ">
                                        <div class="mx-auto">
                                            <div class="objeto">
                                                {{!-- <h4 class="font-weight-bold nb-0">Proyectos próximos </h4> --}}
                                                <h5 class="alineado">No hay estados agregados
                                                </h5>
                                                {{!-- <a class="d-block p-1 alineado" role="cell" href="/projects"> Ver
                                                    todos
                                                </a> --}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer objeto">
                                    <a class="d-block p-1 alineado" role="cell" href="/other/states/add"> Agregar estado
                                    </a>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <!--  <div class="container py-4">
                    <div class="row">
                        <div class="col-2 alineado">
                        </div>
                        <div class="col-4 alineado">
                            <button type="button" class="btn1">Modificar</button>
                        </div>
                        <div class="col-4 alineado">
                            <button type="button" class="btn1">Eliminar</button>
                        </div>
                        <div class="col-2 alineado">
                        </div>
                    </div>
                </div> -->
                <div class="container py-4">
                    <div class="row">
                        <div class="block mx-auto col-md-3 alineado py-2">
                            <a href="/other/states">
                                <button type="button" class="btn1">Regresar </button>
                            </a>
                        </div>
                        <div class="block mx-auto col-md-3 alineado py-2">
                            <a href="javascript:pressNuevo();">
                                <button type="button" class="btn1">Agregar ciudad </button>
                            </a>
                        </div>
                    </div>
                </div>

            </section>

        </div>
    </div>
</div>

<div class="modal fade container-fluid" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Agregar una ciudad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <form action="/other/states/{{estado.idEstado}}/cities/add" method="POST">

                    <div class="container-fluid">
                        <div class="form-group">
                            <label for="Add_Ciudad">Ciudad </label>
                            <input type="text" name="Add_Ciudad" id="Add_Ciudad" class="form-control"
                                placeholder="Nombre de la ciudad" required>
                        </div>
                        <div>
                            <input type="hidden" name="Add_ID" id="Add_ID" value="" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn1 btn-secondary mx-auto col-md-7"
                            data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn1 btn-primary mx-auto col-md-7" id="btnAdd">Completar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade container-fluid" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Editar ciudad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <form action="/other/states/{{estado.idEstado}}/cities/edit" method="POST">

                    <div class="container-fluid">
                        <div class="form-group">
                            <label for="Edit_Ciudad">Ciudad </label>
                            <input type="text" name="Edit_Ciudad" id="Edit_Ciudad" class="form-control"
                                placeholder="Nombre de la ciudad" required>
                        </div>
                        <div>
                            <input type="hidden" name="Edit_ID" id="Edit_ID" value="" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn1 btn-secondary mx-auto col-md-7"
                            data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn1 btn-primary mx-auto col-md-7" id="btnEdit">Completar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $.get('/dropElements', function (clases) {
            $.each(clases, function (index, el) {
                $(`.${el.Clase}`).remove();
            });
        });

        $('#myTable').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "sProcessing": "Procesando..."
            },
            columnDefs: [
                {
                    width: "50px",
                    targets: 0
                },
                {
                    "targets": [1],
                    "visible": false,
                    "searchable": false
                },
                {
                    width: "15px",
                    targets: 3
                }
            ]
        });

        showTable();
    });

    function pressNuevo() {
        $('#Add_Ciudad').val('');
        $("#modalAdd").modal("show");
    }

    function pressEditar(ciudad, id) {
        $('#Edit_Ciudad').val(ciudad);
        $('#Edit_ID').val(id);
        $("#modalEdit").modal("show");
    }

    //const selectVista = document.querySelector('#Vista');
    //selectVista.onchange = function () {
        //const vista = document.getElementById('Vista').value;

        //if (vista === '1') {
            //$('#tarjeta').hide();
            //$('#tabla').show();
        //}
        //if (vista === '2') {
            //$('#tarjeta').show();
            //$('#tabla').hide();
        //}
        //return false;
    //}

    function showTable() {
        $('#tarjeta').hide();
        $('#tabla').show();
        $('#btnTable').css("color", "rgb(32, 32, 32)");
        $('#btnCard').css("color", "grey");
    }

    function showCard() {
        $('#tarjeta').show();
        $('#tabla').hide();
        $('#btnTable').css("color", "grey");
        $('#btnCard').css("color", "rgb(32, 32, 32)");
    }
</script>