<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">

    <!-- Page Content  -->
    <div id="content">

        {{> navbar}}

        <div id="main" class="animated bounceInUp">
            <section>
                <div class="container-fluid alineado">
                    <div class="row alineado">
                        <img src="/img/404_preview_rev_2.png" class="img-fluid" alt="" width="450" height="450">
                        <div class="container-fluid alineado">
                            <h5 class="font-weight-bold">Ups... Página no encontrada</h5>
                        </div>
                    </div>
                    <div class="row py-3 alineado">
                        <!--<div class="col-4">
                        </div>
                        <div class="col-4 alineado">
                            <a href="/home">
                                <button class="btn1">Regresar</button>
                            </a>
                        </div>
                        <div class="col-4">
                        </div>-->
                        <div class="block mx-auto col-md-3 alineado">
                            <a href="/home">
                                <button class="btn1">Regresar</button>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $('#sidebarCollapse').remove();
    });

</script>