<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content  -->
    <div id="content">

        {{> navbar}}

        <div id="main" class="mx-0">
            <section>
                <div class="container-fluid alineado">
                    <div class="row alineado">
                        <img src="./sesion_preview_rev_1.png" class="img-fluid" alt="" width="480" height="480">
                        <div class="container-fluid alineado pt-2">
                            <h5 class="font-weight-bold">Parece que ya iniciaste sesión en otro lado</h5>
                            <h6>Asegúrate de cerrar sesión en el otro dispositivo e intenta de nuevo</h6>
                        </div>
                    </div>
                    <div class="row py-3 alineado">
                        <div class="col-4">
                        </div>
                        <div class="col-4 alineado">
                            <button class="btn1">Aceptar</button>
                        </div>
                        <div class="col-4">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>