<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <section>
                <div class="container">
                    <!--<div class="container-fluid alineado">-->
                    {{!-- <h3 class="font-weight-bold logo">Agregar nuevo servicio</h3> --}}
                    <!--</div>-->
                    <div class="row align-items-center">
                        <div class="col">
                            <button class="fas fa-arrow-alt-circle-left fa-2x" style="cursor: pointer;"
                                onclick="window.history.back();" title="Regresar"></button>
                        </div>
                        <div class="col-8" style="text-align: center;">
                            <h2 class="py-3">Registro de servicio </h2>
                        </div>
                        <div class="col" style="text-align: end;">

                        </div>
                    </div>

                    <form action="/services/add" method="POST" id="Form">
                        <div class="form-group pt-3">
                            <label for="Servicio">Nombre del servicio </label>
                            <input type="" name="Servicio" id="Servicio" class="form-control" maxlength="60"
                                minlength="10" placeholder="Nombre del servicio" required>
                        </div>
                        <div class="form-group">
                            <label for="Costo">Costo aproximado </label>
                            <input type="text" name="Costo" id="Costo" class="form-control" maxlength="10"
                                placeholder="Costo del servicio"
                                onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)'
                                required>
                        </div>
                        <div class="form-group">
                            <label for="TiposServicio">Tipo de servicio </label>
                            <select name="TiposServicio" id="TiposServicio" class="form-control" required>
                                <option value="-1">Seleccione el tipo de servicio</option>
                                {{#each tipos}}
                                <option value="{{idTiposServicio}}">{{Servicio}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Descripcion">Descripción del servicio</label>
                            <textarea type="text" class="form-control" id="Descripcion" name="Descripcion" rows="3"
                                placeholder="Descripción del servicio" required></textarea>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="Lista" id="Lista" class="form-control" required>
                        </div>

                        <section class="bg-mix py-3">
                            <div class="form-group">
                                <label for="Vista">Vista</label>
                                {{!-- <select name="Vista" id="Vista" class="form-control" required>
                                    <option value="">Seleccione una vista</option>
                                    <option value="1" selected>Tabla</option>
                                    <option value="2">Tarjetas</option>
                                </select> --}}
                                <button id="btnTable" class="fas fa-stream fa-lg" style="cursor: pointer;"
                                    onclick="showTable();" title="Tabla"></button>
                                <button id="btnCard" class="fas fa-table fa-lg" style="cursor: pointer;"
                                    onclick="showCard();" title="Tarjetas"></button>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="card col-md-3 p-0 mx-auto mb-4">
                                        <div class="card-header">
                                            <h6 class="font-weight-bold mb-0">Atributos del servicio</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="col-md-12 d-flex ">
                                                <div class="mx-auto">
                                                    {{!-- <h4 class="font-weight-bold nb-0">Proyectos próximos </h4>
                                                    --}}
                                                    {{!-- <div class="row alineado">
                                                        <img id="img-modal" src="./img/mona.png" width="230"
                                                            height="230" class="d-inline-block align-top img-fluid"
                                                            alt="">
                                                    </div> --}}
                                                    <ul id="attrlist">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer objeto">
                                            <a class="d-block p-1 alineado" role="cell"
                                                href="javascript:vaciarLista();"> Vaciar
                                                lista
                                            </a>
                                        </div>
                                    </div>


                                    {{!-- <div class="container-fluid col-md-9">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2 class="py-3">Atributos </h2>
                                                <div class="table-responsive">

                                                    <table id="myTable" class="table table-striped table-bordered"
                                                        style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th><i class="fas fa-plus-circle lead"></i></th>
                                                                <th>ID</th>
                                                                <th>Atributo</th>
                                                                <th>Descripcion</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{#each attr}}
                                                            <tr>
                                                                <td><i class="fas fa-tag lead"></i></td>
                                                                <td>{{idAtributo}}</td>
                                                                <td>{{Atributo}}</td>
                                                                <td>{{Descripcion_IyE}}</td>
                                                                <td>
                                                                    <a href="javascript:agregarAtributo('{{Atributo}}'',{{idAtributo}})"
                                                                        class="text-info">
                                                                        <i class="fas fa-plus-circle lead"></i>Agregar
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            {{else}}
                                                            {{/each}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div> --}}


                                    <div id="tabla" class="card col-md-9 p-0 mx-auto mb-4" style="display: none;">
                                        <div class="card-header">
                                            <h6 class="font-weight-bold mb-0">Seleccione los atributos</h6>
                                        </div>
                                        <div class="card-body py-0">
                                            <div class="container">
                                                <div class="row px-0">
                                                    <div class="col-md-12 px-0">
                                                        <h2 class="py-3">Atributos </h2>
                                                        <div class="table-responsive" style="overflow-y: auto;">

                                                            <table id="myTable"
                                                                class="table table-striped table-bordered"
                                                                style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th><i class="fas fa-plus-circle lead"></i></th>
                                                                        <th>ID</th>
                                                                        <th>Atributo</th>
                                                                        <th>Descripcion</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {{#each attr}}
                                                                    <tr>
                                                                        <td><i class="fas fa-tag lead"></i></td>
                                                                        <td>{{idAtributo}}</td>
                                                                        <td>{{Atributo}}</td>
                                                                        <td>{{Descripcion_IyE}}</td>
                                                                        <td>
                                                                            <a href="" class="text-info"
                                                                                title="Agregar atributo">
                                                                                <i class="fas fa-plus-circle lead"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    {{else}}
                                                                    {{/each}}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer objeto">
                                            <a class="d-block p-1 alineado" role="cell"
                                                href="javascript:nuevoAtributo();"> Nuevo
                                                atributo
                                            </a>
                                        </div>
                                    </div>


                                    <div id="tarjeta" class="card col-md-9 p-0 mx-auto mb-4">
                                        <div class="card-header">
                                            <h6 class="font-weight-bold mb-0">Seleccione los atributos</h6>
                                        </div>
                                        <div class="card-body px-0">
                                            <div class="container-fluid col-md-12">
                                                <div class="row px-0">
                                                    {{#each attr}}
                                                    <div class="card col-md-3 p-0 my-2">
                                                        <div class="card-header" style="overflow-x: auto;">
                                                            <div class="mx-auto d-flex alineado">
                                                                <h6 class="font-weight-bold mb-0">{{Atributo}}</h6>
                                                            </div>
                                                        </div>
                                                        <div class="card-body" style="overflow-x: auto;">
                                                            <div class="col-md-12 d-flex alineado">
                                                                <div class="mx-auto">
                                                                    <div class="objeto">
                                                                        {{!-- <h4 class="font-weight-bold nb-0">
                                                                            Proyectos próximos </h4> --}}
                                                                        <h6 class="alineado">
                                                                            <strong>Descripcion:</strong>
                                                                            {{Descripcion_IyE}}
                                                                        </h6>

                                                                        {{!-- <a class="d-block p-1 alineado"
                                                                            role="cell" href="/projects"> Ver
                                                                            todos
                                                                        </a> --}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer" style="overflow-x: auto;">
                                                            <div class="mx-auto d-flex alineado">
                                                                {{!-- <a class="d-block alineado" role="cell"
                                                                    href="javascript:atributoCard({{idAtributo}},'{{Atributo}}');">
                                                                    Agregar
                                                                </a> --}}
                                                                <a href="javascript:atributoCard({{idAtributo}},'{{Atributo}}');"
                                                                    class="text-info" title="Agregar atributo">
                                                                    <i class="fas fa-plus-circle lead"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{else}}
                                                    <div class="card col-md-3 p-0 mx-auto">
                                                        <div class="card-header">
                                                            <h6 class="font-weight-bold mb-0">Atributos</h6>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="col-md-12 d-flex ">
                                                                <div class="mx-auto">
                                                                    <div class="objeto">
                                                                        {{!-- <h4 class="font-weight-bold nb-0">
                                                                            Proyectos próximos </h4> --}}
                                                                        <h5 class="alineado">No hay atributos agregados
                                                                        </h5>
                                                                        {{!-- <a class="d-block p-1 alineado"
                                                                            role="cell" href="/projects"> Ver
                                                                            todos
                                                                        </a> --}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {{!-- <div class="card-footer objeto">
                                                            <a class="d-block p-1 alineado" role="cell"
                                                                href="javascript:atributoCard({{idAtributo}},'{{Atributo}}');">
                                                                Agregar atributo
                                                            </a>
                                                        </div> --}}
                                                    </div>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer objeto">
                                            <a class="d-block p-1 alineado" role="cell"
                                                href="javascript:nuevoAtributo();"> Nuevo
                                                atributo
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        {{!-- <div class="block mx-auto col-md-3 alineado py-4">
                            <button class="btn1 mx-auto" id="btnForm">
                                Guardar
                            </button>
                        </div> --}}
                        <div class="container py-4">
                            <div class="row">
                                <div class="block mx-auto col-md-3 alineado py-2">
                                    <a href="/services">
                                        <button type="button" class="btn1">Regresar </button>
                                    </a>
                                </div>
                                <div class="block mx-auto col-md-3 alineado py-2">
                                    <button type="submit" class="btn1 mx-auto" id="btnForm">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

        </div>
    </div>
</div>

<div class="modal fade container-fluid" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Nuevo atributo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <h6 style="color: black;"><i class="fas fa-exclamation-circle"></i>&nbsp&nbspAntes de continuar,
                    asegúrate de que el nuevo atributo no está agregado aún</h6>
                <form action="/services/attributes/add" method="POST">

                    <div class="container-fluid">
                        <div class="form-group pt-2">
                            <label for="Edit_Atributo">Nombre </label>
                            <input type="text" name="Modal_Atributo" id="Modal_Atributo" class="form-control"
                                placeholder="Nombre del atributo" required>
                        </div>
                        <div class="form-group">
                            <label for="Edit_Descripcion">Descripción </label>
                            <textarea type="text" class="form-control" id="Modal_Descripcion" name="Modal_Descripcion"
                                rows="3" placeholder="Descripción del atributo" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn1 btn-secondary mx-auto col-md-7"
                            data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn1 btn-primary mx-auto col-md-7" id="btnAttr">Completar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    let attr = [];
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $.get('/dropElements', function (clases) {
            $.each(clases, function (index, el) {
                $(`.${el.Clase}`).remove();
            });
        });

        let table = $('#myTable').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "sProcessing": "Procesando..."
            },
            columnDefs: [
                {
                    width: "30px",
                    targets: 0
                },
                {
                    "targets": [1],
                    "visible": false,
                    "searchable": false
                },
                {
                    width: "50px",
                    targets: 4
                }
            ]
        });

        $('#myTable tbody').on('click', 'tr', function () {
            var data = table.row(this).data();

            var obj = new Object();
            obj.idAtributo = data[1];
            obj.Atributo = data[2];

            if (attr.length == 0) {
                attr.push(obj);
                //$('#Lista').val(JSON.stringify(attr));
                pintarLista();
            }
            else {
                var i = 0;
                attr.forEach(function (el, index) {
                    if (el.idAtributo === data[1]) {
                        alert("Ya ha agregado este atributo al servicio");
                        return false;
                    }
                    i++;
                });

                if (i === attr.length) {
                    attr.push(obj);
                    //$('#Lista').val(JSON.stringify(attr));
                    pintarLista();
                }
            }

            return false;
        });

        showCard();
    });

    function atributoCard(id, atributo) {
        var obj = new Object();
        obj.idAtributo = id;
        obj.Atributo = atributo;

        if (attr.length == 0) {
            attr.push(obj);
            //$('#Lista').val(JSON.stringify(attr));
            pintarLista();
        }
        else {
            var i = 0;
            attr.forEach(function (el, index) {
                if (el.idAtributo === id) {
                    alert("Ya ha agregado este atributo al servicio");
                    return false;
                }
                i++;
            });

            if (i === attr.length) {
                attr.push(obj);
                //$('#Lista').val(JSON.stringify(attr));
                pintarLista();
            }
        }

        return false;
    }

    function pintarLista() {
        $('#Lista').val(JSON.stringify(attr));
        $("#attrlist").html("");
        if (attr.length > 0) {
            attr.forEach(function (el, index) {
                $("#attrlist").append(
                    `
                    <li class="my-3">
                        <a href="javascript:eliminarAtr(${index});" class="text-danger" title="Eliminar atributo">
                            <i class="fas fa-minus-circle lead"></i>&nbsp&nbsp${el.Atributo}
                        </a>
                    </li>
                    `
                );

            });
        }
        return false;
    }

    function eliminarAtr(index) {
        attr.splice(index, 1)
        //$('#Lista').val(JSON.stringify(attr));
        pintarLista();
    }

    function vaciarLista() {
        attr = [];
        pintarLista();
    }

    function nuevoAtributo() {
        $('#Modal_Atributo').val('');
        $('#Modal_Descripcion').val('');
        $('#modalAdd').modal('show');
    }

    function showTable() {
        $('#tarjeta').hide();
        $('#tabla').show();
        $('#btnTable').css("color", "rgb(32, 32, 32)");
        $('#btnCard').css("color", "grey");
    }

    function showCard() {
        $('#tarjeta').show();
        $('#tabla').hide();
        $('#btnTable').css("color", "grey");
        $('#btnCard').css("color", "rgb(32, 32, 32)");
    }

    const btnForm = document.querySelector('#btnForm');
    btnForm.onclick = function () {
        const tipo = $("#TiposServicio").val();
        if (tipo === '-1') {
            alert("Debe seleccionar un tipo de servicio");
            return false;
        }
        if (attr.length === 0) {
            alert("Debe seleccionar los atributos del servicio");
            return false;
        }
        //document.forms["Form"].submit();
    }
</script>