<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <section>
                <div class="container">
                    {{!-- <h2 class="py-3">Cartera de servicios</h2> --}}
                    <div class="row align-items-center">
                        <div class="col">
                            {{!-- <button class="fas fa-arrow-alt-circle-left fa-2x" style="cursor: pointer;"
                                onclick="window.history.back();" title="Regresar"></button> --}}
                        </div>
                        <div class="col-8" style="text-align: center;">
                            <h2 class="py-3">Cartera de servicios </h2>
                        </div>
                        <div class="col" style="text-align: end;">
                            <a href="/services/add" class="text-dark" title="Agregar servicio"><i
                                    class="fas fa-plus-circle fa-2x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Vista">Vista</label>
                        {{!-- <select name="Vista" id="Vista" class="form-control" required>
                            <option value="">Seleccione una vista</option>
                            <option value="1" selected>Tabla</option>
                            <option value="2">Tarjetas</option>
                        </select> --}}
                        <button id="btnCard" class="fas fa-table fa-lg" style="cursor: pointer;" onclick="showCard();"
                            title="Tarjetas"></button>
                        <button id="btnTable" class="fas fa-stream fa-lg" style="cursor: pointer; color:grey;"
                            onclick="showTable();" title="Tabla"></button>
                    </div>
                </div>
                <!--Ejemplo tabla con DataTables-->
                <div id="tabla" class="container py-2">
                    <div class="row">
                        <div class="col-lg-12">
                            {{!-- <h2 class="py-3">Cartera de servicios</h2> --}}
                            <div class="table-responsive">

                                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th><i class="fas fa-plus-circle lead"></i></th>
                                            <th>ID</th>
                                            <th>Tipo</th>
                                            <th>Servicio</th>
                                            <th>Costo</th>
                                            <th>Descripcion</th>
                                            <th> </th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each services}}
                                        <tr>
                                            <td><i class="fas fa-object-group lead"></i></td>
                                            <td>{{idCdeServicios}}</td>
                                            <td>{{tipos}}</td>
                                            <td id="nom{{idCdeServicios}}">{{nombre}}</td>
                                            <td id="costo{{idCdeServicios}}">${{Costo}}</td>
                                            <td id="desc{{idCdeServicios}}">{{Descripcion}}</td>
                                            <td>
                                                <a href="javascript:editarServicio({{idCdeServicios}});"
                                                    class="text-info" title="Editar información"><i
                                                        class="fas fa-pencil-alt lead"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/services/{{idCdeServicios}}/attributes" class="text-danger"
                                                    title="Atributos del servicio"><i class="fas fa-tags lead"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {{else}}
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tarjeta" class="container py-2">
                    {{!-- <h2 class="py-3">Cartera de servicios</h2> --}}
                    <div class="row alineado">
                        {{#each services}}
                        <div class="card col-md-4 p-0 my-2">
                            <div class="card-header">
                                <h6 class="font-weight-bold mb-0">{{nombre}}</h6>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 d-flex ">
                                    <div class="mx-auto">
                                        <div class="objeto">
                                            {{!-- <h4 class="font-weight-bold nb-0">Proyectos próximos </h4> --}}
                                            <h6 class="alineado"><strong>Tipo:</strong> {{tipos}}
                                            </h6>
                                            <h6 class="alineado"><strong>Costo:</strong> ${{Costo}}
                                            </h6>
                                            <h6 class="alineado"><strong>Descripcion:</strong> {{Descripcion}}
                                            </h6>

                                            {{!-- <a class="d-block p-1 alineado" role="cell" href="/projects"> Ver
                                                todos
                                            </a> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="mx-auto d-flex alineado">
                                    <a href="javascript:editarServicio({{idCdeServicios}});" class="text-info px-2"
                                        title="Editar información">
                                        <i class="fas fa-pencil-alt lead"></i>
                                    </a>
                                    <a href="/services/{{idCdeServicios}}/attributes" class="text-danger px-2"
                                        title="Atributos del servicio">
                                        <i class="fas fa-tags lead"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="card col-md-3 p-0 mx-auto">
                            <div class="card-header">
                                <h6 class="font-weight-bold mb-0">Servicios</h6>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 d-flex ">
                                    <div class="mx-auto">
                                        <div class="objeto">
                                            {{!-- <h4 class="font-weight-bold nb-0">Proyectos próximos </h4> --}}
                                            <h5 class="alineado">No hay servicios agregados
                                            </h5>
                                            {{!-- <a class="d-block p-1 alineado" role="cell" href="/projects"> Ver
                                                todos
                                            </a> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer objeto">
                                <a class="d-block p-1 alineado" role="cell" href="/services/add"> Agregar servicio
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <!--<div class="container py-4">
                    <div class="row">
                        <div class="col-2 alineado">
                        </div>
                        <div class="col-4 alineado">
                            <button type="button" class="btn1">Modificar</button>
                        </div>
                        <div class="col-4 alineado">
                            <button type="button" class="btn1">Eliminar</button>
                        </div>
                        <div class="col-2 alineado">
                        </div>
                    </div>
                </div>-->
                <div class="container py-4">
                    <div class="row">
                        <div class="block mx-auto col-md-3 alineado py-2">
                            <a href="/home">
                                <button type="button" class="btn1">Regresar </button>
                            </a>
                        </div>
                        <div class="block mx-auto col-md-3 alineado py-2">
                            <a href="/services/add">
                                <button type="button" class="btn1">Agregar servicio </button>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

<div class="modal fade container-fluid" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Editar servicio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <form action="/services/edit" method="POST">

                    <div class="container-fluid">
                        <div class="form-group pt-3">
                            <label for="Servicio">Nombre del servicio </label>
                            <input type="" name="Servicio" id="Servicio" class="form-control" maxlength="60"
                                minlength="10" value="{{servicio.Servicio}}" placeholder="Nombre del servicio" required>
                        </div>
                        <div class="form-group">
                            <label for="Costo">Costo aproximado </label>
                            <input type="text" name="Costo" id="Costo" class="form-control" maxlength="10"
                                value="{{servicio.Costo}}" placeholder="Costo del servicio"
                                onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)'
                                required>
                        </div>
                        <div class="form-group">
                            <label for="TiposServicio">Tipo de servicio </label>
                            <select name="TiposServicio" id="TiposServicio" class="form-control" required>
                                <option value="">Seleccione un tipo de servicio</option>
                                {{#each tipos}}
                                <option value="{{idTiposServicio}}">{{Servicio}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Descripcion">Descripción del servicio</label>
                            <textarea type="text" class="form-control" id="Descripcion" name="Descripcion" rows="3"
                                placeholder="Descripción del servicio" required>{{servicio.Descripcion}}</textarea>
                        </div>
                        <div>
                            <input type="hidden" name="cartera" id="Edit_ID" value="" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn1 btn-secondary mx-auto col-md-7"
                            data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn1 btn-primary mx-auto col-md-7" id="btnEdit">Completar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $.get('/dropElements', function (clases) {
            $.each(clases, function (index, el) {
                $(`.${el.Clase}`).remove();
            });
        });

        $('#myTable').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "sProcessing": "Procesando..."
            },
            columnDefs: [
                {
                    width: "30px",
                    targets: 0
                },
                {
                    "targets": [1],
                    "visible": false,
                    "searchable": false
                },
                {
                    width: "60px",
                    targets: 4
                },
                {
                    width: "20px",
                    targets: 6
                },
                {
                    width: "20px",
                    targets: 7
                }
            ]
        });

        showCard();
    });

    //const selectVista = document.querySelector('#Vista');
    //selectVista.onchange = function () {
    //const vista = document.getElementById('Vista').value;

    //if (vista === '1') {
    //$('#tarjeta').hide();
    //$('#tabla').show();
    //}
    //if (vista === '2') {
    //$('#tarjeta').show();
    //$('#tabla').hide();
    //}
    //return false;
    //}

    function showTable() {
        $('#tarjeta').hide();
        $('#tabla').show();
        $('#btnTable').css("color", "rgb(32, 32, 32)");
        $('#btnCard').css("color", "grey");
    }

    function showCard() {
        $('#tarjeta').show();
        $('#tabla').hide();
        $('#btnTable').css("color", "grey");
        $('#btnCard').css("color", "rgb(32, 32, 32)");
    }

    function editarServicio(id) {
        $('#Servicio').val($(`#nom${id}`).html());
        const costo = $(`#costo${id}`).html().replace('$', '');
        $('#Costo').val(costo);
        $('#Descripcion').val($(`#desc${id}`).html());
        $.get(`/services/type/${id}`, function (tipo) {
            $('#TiposServicio').val(tipo[0].tipo);
            //alert(JSON.stringify(rol[0].Rol))
        });
        $('#Edit_ID').val(id);
        $("#modalEdit").modal("show");
    }

    const btnEdit = document.querySelector('#btnEdit');
    btnEdit.onclick = function () {
        const tipo = $("#TiposServicio").val();
        if (tipo === '-1') {
            alert("Debe seleccionar un tipo de servicio");
            return false;
        }
        //document.forms["Form"].submit();
    }
</script>