<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content  -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <section class="bg-mix pt-3 project">
                <div class="container-fluid">
                    <div class="row">
                        <div class="card col-md-5 p-0 my-2 mx-auto">
                            <div class="card-header">
                                <h6 class="font-weight-bold mb-0">Últimos proyectos agregados</h6>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 d-flex">
                                    <div class="mx-auto">
                                        <div class="objeto">
                                            <ul class="list-unstyled">
                                                {{#each lastProject}}
                                                <li>
                                                    <a class="nav-link d-block p-2" href="#lastP{{idProyecto}}"
                                                        data-toggle="collapse" aria-expanded="false">
                                                        <i class="fas fa-folder-open mr-2 lead"></i>{{Proyecto}}
                                                        (Entrega: {{fixDateProject Fecha_TenFin}})
                                                    </a>
                                                    <ul class="collapse list-unstyled" id="lastP{{idProyecto}}">
                                                        <li>
                                                            <a href="/projects/{{idProyecto}}/quotes">Ver
                                                                cotizaciones del proyecto</a>
                                                        </li>
                                                        <li class="socio">
                                                            <a href="/projects/show/{{idProyecto}}">Ver
                                                                información general</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                {{else}}
                                                <h6 class="font-weight-bold nb-0 alineado">No hay proyectos nuevos</h6>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer objeto">
                                <div class="mx-auto d-flex alineado">
                                    <a class="d-block p-1 alineado" role="cell" href="/projects">
                                        Ver todos
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="card col-md-5 p-0 my-2 mx-auto">
                            <div class="card-header">
                                <h6 class="font-weight-bold mb-0">Proyectos próximos a entregar</h6>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 d-flex">
                                    <div class="mx-auto">
                                        <div class="objeto">
                                            <ul class="list-unstyled">
                                                {{#each nearProject}}
                                                <li>
                                                    <a class="nav-link d-block p-2" href="#near{{idProyecto}}"
                                                        data-toggle="collapse" aria-expanded="false">
                                                        <i class="fas fa-folder-open mr-2 lead"></i>{{Proyecto}}
                                                        (Entrega: {{fixDateProject Fecha_TenFin}})
                                                    </a>
                                                    <ul class="collapse list-unstyled" id="near{{idProyecto}}">
                                                        <li>
                                                            <a href="/projects/{{idProyecto}}/quotes">Ver
                                                                cotizaciones del proyecto</a>
                                                        </li>
                                                        <li>
                                                            <a href="/projects/show/{{idProyecto}}">Ver
                                                                información general</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                {{else}}
                                                <h6 class="font-weight-bold nb-0 alineado">No hay proyectos pendientes
                                                </h6>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer objeto">
                                <div class="mx-auto d-flex alineado">
                                    <a class="d-block p-1 alineado" role="cell" href="/projects">
                                        Ver todos
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section class="bg-mix py-3 supplier">
                <div class="container-fluid">
                    <div class="row">
                        <div class="card col-md-5 p-0 my-2 mx-auto project">
                            <div class="card-header">
                                <h6 class="font-weight-bold mb-0">Últimos clientes agregados</h6>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 d-flex">
                                    <div class="mx-auto">
                                        <div class="objeto">
                                            <ul class="list-unstyled">
                                                {{#each lastClientP}}
                                                <li>
                                                    <a class="nav-link d-block p-2" href="#lastCP{{idCliente}}"
                                                        data-toggle="collapse" aria-expanded="false">
                                                        <i class="fas fa-address-book mr-2 lead"></i>{{RazonSocial}}
                                                    </a>
                                                    <ul class="collapse list-unstyled" id="lastCP{{idCliente}}">
                                                        <li>
                                                            <a href="/projects/client/{{idCliente}}">Ver
                                                                proyectos del cliente</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                {{else}}
                                                <h6 class="font-weight-bold nb-0 alineado">No hay clientes nuevos</h6>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer objeto">
                                <div class="mx-auto d-flex alineado">
                                    <a class="d-block p-1 alineado" role="cell" href="/clients">
                                        Ver todos
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="card col-md-5 p-0 my-2 mx-auto supplier">
                            <div class="card-header">
                                <h6 class="font-weight-bold mb-0">Últimos proveedores agregados</h6>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 d-flex">
                                    <div class="mx-auto">
                                        <div class="objeto">
                                            <ul class="list-unstyled">
                                                {{#each lastSupplier}}
                                                <li>
                                                    <a class="nav-link d-block p-2" href="#lastS{{idProveedor}}"
                                                        data-toggle="collapse" aria-expanded="false">
                                                        <i class="fas fa-address-book mr-2 lead"></i>{{Nombre}}
                                                    </a>
                                                    <ul class="collapse list-unstyled" id="lastS{{idProveedor}}">
                                                        <li>
                                                            <a href="/suppliers/{{idProveedor}}/services">Ver
                                                                servicios del proveedor</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                {{else}}
                                                <h6 class="font-weight-bold nb-0 alineado">No hay proveedores nuevos
                                                </h6>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer objeto">
                                <div class="mx-auto d-flex alineado">
                                    <a class="d-block p-1 alineado" role="cell" href="/suppliers">
                                        Ver todos
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

            <section class="bg-mix pb-3 user">
                <div class="container-fluid">
                    <div class="row">
                        <div class="card col-md-5 p-0 my-2 mx-auto">
                            <div class="card-header">
                                <h6 class="font-weight-bold mb-0">Últimos clientes agregados</h6>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 d-flex">
                                    <div class="mx-auto">
                                        <div class="objeto">
                                            <ul class="list-unstyled">
                                                {{#each lastClient}}
                                                <li>
                                                    <a class="nav-link d-block p-2" href="#lastC{{idCliente}}"
                                                        data-toggle="collapse" aria-expanded="false">
                                                        <i class="fas fa-address-book mr-2 lead"></i>{{RazonSocial}}
                                                    </a>
                                                    <ul class="collapse list-unstyled" id="lastC{{idCliente}}">
                                                        <li>
                                                            <h6 class=""><strong>Persona:</strong> {{persona}}
                                                            </h6>
                                                        </li>
                                                        <li>
                                                            <h6 class=""><strong>Teléfono:</strong> {{Telefono}}
                                                            </h6>
                                                        </li>
                                                        <li>
                                                            <h6 class=""><strong>Correo:</strong> {{Correo}}
                                                            </h6>
                                                        </li>
                                                        
                                                    </ul>
                                                </li>
                                                {{else}}
                                                <h6 class="font-weight-bold nb-0 alineado">No hay clientes nuevos</h6>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer objeto">
                                <div class="mx-auto d-flex alineado">
                                    <a class="d-block p-1 alineado" role="cell" href="/clients">
                                        Ver todos
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>



            <!--<section class="bg-mix">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 d-flex stat my-3">
                                    <div class="mx-auto">
                                        <h6 class="text-muted"><i class="fas fa-money-bill-alt"></i>Ingresos mensuales
                                        </h6>
                                        <h3 class="font-weight-bold text-success">$50,000</h3>
                                        <h6 class="text-success"><i class="fas fa-arrow-alt-circle-up"></i>50.50%</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex stat my-3">
                                    <div class="mx-auto">
                                        <h6 class="text-muted"><i class="fas fa-hand-holding-usd"></i>Gastos mensuales
                                        </h6>
                                        <h3 class="font-weight-bold text-danger">$50,000</h3>
                                        <h6 class="text-danger"><i class="fas fa-arrow-circle-down"></i>50.50%</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 my-3">
                            <div class="card">
                                <div class="card-header">
                                    <h6 class="font-weight-bold mb-0">Finanzas del mes</h6>
                                </div>
                                <div class="card-body">
                                    <canvas id="myChart" height="110"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>-->



        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $.get('/dropElements', function (clases) {
            $.each(clases, function (index, el) {
                $(`.${el.Clase}`).remove();
            });
        });
    });
</script>

{{!--
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var financeCanvas = document.getElementById("myChart");

    Chart.defaults.global.defaultFontFamily = "Lato";
    Chart.defaults.global.defaultFontSize = 18;

    var dataFirst = {
        label: "Egresos",
        data: [0, 59, 75, 20, 20, 55, 40],
        lineTension: 0,
        fill: true,
        borderColor: 'rgba(255, 99, 132, 1)',
        backgrounColor: 'rgba(255, 99, 132, 0.2)'
    };

    var dataSecond = {
        label: "Ingresos",
        data: [20, 15, 60, 60, 65, 30, 70],
        lineTension: 0,
        fill: true,
        borderColor: 'rgba(54, 162, 235, 1)',
        backgrounColor: 'rgba(54, 162, 235, 0.2)'
    };

    var financeData = {
        labels: ["0s", "10s", "20s", "30s", "40s", "50s", "60s"],
        datasets: [dataFirst, dataSecond]
    };

    var chartOptions = {
        legend: {
            display: true,
            position: 'top',
            labels: {
                boxWidth: 80,
                fontColor: 'black'
            }
        }
    };

    var lineChart = new Chart(financeCanvas, {
        type: 'line',
        data: financeData,
        options: chartOptions
    });
</script> --}}