<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content  -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <section>
                <!--<div class="container-fluid alineado">
                    <div class="container-fluid alineado pt-2">
                        <h4 class="font-weight-bold">Perfil de usuario</h4>
                    </div>
                    <div class="form-group" id="nombre-group">
                        <div id="foto-div">
                            <div class="container-fluid">
                                <img id='img-foto' src='{{searchImage profile.Imagen}}' width='150' height='150'
                                    class='d-inline-block align-top img-fluid' alt=''>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contact-wrapper">
                    <div class="contact-form">
                        <form action="/profile/info" method="POST">
                            <p>
                                <label>Nombre</label>
                                <input type="text" name="nombre" value="{{profile.Nombre}}" maxlength="45" required>
                            </p>
                            <p>
                                <label>Apellido</label>
                                <input type="text" name="apellido" value="{{profile.Apellido}}" maxlength="45" required>
                            </p>
                            <p>
                                <label>Correo</label>
                                <input type="email" name="correo" value="{{user.Correo}}" maxlength="45" required>
                            </p>
                            <p>
                                <label>Contraseña</label>
                                <input type="password" name="password" value="********" disabled>
                            </p>
                            <p>
                                <label>Cargo</label>
                                <input type="text" name="cargo" value="{{profile.cargo}}" disabled>
                            </p>
                            <p>
                                <label>RFC</label>
                                <input type="text" name="rfc" value="{{profile.RFC}}" disabled>
                            </p>
                            <p class="block mx-auto col-md-3">
                                <button class="btn1 mx-auto">
                                    Guardar
                                </button>
                            </p>
                        </form>
                    </div>
                </div>-->
                <div class="container">
                    <!--<div class="container-fluid alineado">-->
                    {{!-- <h3 class="font-weight-bold logo">Perfil de usuario</h3> --}}
                    <!--</div>-->
                    <div class="row align-items-center">
                        <div class="col">
                            <button class="fas fa-arrow-alt-circle-left fa-2x" style="cursor: pointer;"
                                onclick="window.history.back();" title="Regresar"></button>
                        </div>
                        <div class="col-7" style="text-align: center;">
                            <h2 class="pb-3"> Perfil de usuario</h2>
                        </div>
                        <div class="col" style="text-align: end;">
                            
                        </div>
                    </div>
                    <div class="container-fluid alineado">
                        <div id="foto-div">
                            <div class="container-fluid">
                                <img id='img-foto' src='{{searchImage profile.Imagen}}' width='150' height='150'
                                    class='d-inline-block align-top img-fluid' alt=''>
                            </div>
                        </div>
                    </div>

                    <form action="/profile/info" method="POST">
                        <div class="form-group pt-3">
                            <label for="Nombre">Nombre</label>
                            <input type="text" name="Nombre" id="Nombre" class="form-control" value="{{profile.Nombre}}"
                                maxlength="45" placeholder="Nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="Apellido">Apellido</label>
                            <input type="text" name="Apellido" id="Apellido" class="form-control"
                                value="{{profile.Apellido}}" maxlength="45" placeholder="Apellido" required>
                        </div>
                        <div class="form-group">
                            <label for="Correo">Correo</label>
                            <input type="email" name="Correo" id="Correo" class="form-control" value="{{user.Correo}}"
                                maxlength="45" placeholder="Correo electrónico" required>
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" name="password" class="form-control" value="********" disabled>
                        </div>
                        <div class="form-group">
                            <label>Cargo</label>
                            <input type="text" name="cargo" class="form-control" value="{{profile.cargo}}" disabled>
                        </div>
                        <div class="form-group">
                            <label>RFC</label>
                            <input type="text" name="rfc" class="form-control" value="{{profile.RFC}}" disabled>
                        </div>
                        <div class="container py-4">
                            <div class="row">
                                <div class="block mx-auto col-md-3 alineado py-2">
                                    <a href="/home">
                                        <button type="button" class="btn1">Regresar </button>
                                    </a>
                                </div>
                                <div class="block mx-auto col-md-3 alineado py-2">
                                    <button type="submit" class="btn1 mx-auto">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                        {{!-- <div class="block mx-auto col-md-3 alineado py-4">
                            <button class="btn1 mx-auto">
                                Guardar
                            </button>
                        </div> --}}
                    </form>
                </div>
            </section>

        </div>
    </div>
</div>

<div class="modal fade container-fluid" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Foto de perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <form action="/profile/photo" method="POST" enctype="multipart/form-data">

                    <div class="container-fluid alineado">
                        <div class="row alineado">
                            <!--<div id="foto-modal" class="container-fluid">-->
                            <img id="img-modal" src="{{searchImage profile.Imagen}}" width="200" height="200"
                                class="d-inline-block align-top img-fluid" alt="">
                            <!--</div>-->
                        </div>
                        <div class="form-group pt-3 alineado">
                            <input type="file" name="profile-foto" id="profile-foto" accept="image/*">
                        </div>
                        <div>
                            <input type="hidden" name="idEmpleado" value="{{profile.idEmpleado}}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn1 btn-secondary mx-auto col-md-7" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn1 btn-primary mx-auto col-md-7" id="btnFoto">Completar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $.get('/dropElements', function (clases) {
            $.each(clases, function (index, el) {
                $(`.${el.Clase}`).remove();
            });
        });
    });
</script>

<script>
    const openModal = document.querySelector('#img-foto');
    openModal.onclick = function () {
        $("#modal").modal("show");
    }

    const modalPicture = document.querySelector('#profile-foto');
    modalPicture.onchange = function () {
        var fileInput = document.getElementById("profile-foto");
        if (fileInput.files && fileInput.files[0]) {
            var imagen = new FileReader();
            imagen.onload = function (evt) {
                document.getElementById("img-modal").src = evt.target.result;
            };
            imagen.readAsDataURL(fileInput.files[0]);
        }
    }

    const btnFoto = document.querySelector('#btnFoto');
    btnFoto.onclick = function () {
        const foto = $("#profile-foto").val();
        if (foto === '' || foto === null) {
            alert("Debe seleccionar una foto");
            return false;
        }
        //document.forms["Form"].submit();
    }

    /*function pintarFoto() {
        var fileInput = document.getElementById("profile-foto");
        if (fileInput.files && fileInput.files[0]) {
            var imagen = new FileReader();
            imagen.onload = function (evt) {
                document.getElementById("img-modal").src = evt.target.result;
            };
            imagen.readAsDataURL(fileInput.files[0]);
        }
    }*/
</script>