<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/principal.css">


<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <div class="container">
                <h1>Registrar movimiento financiero</h1>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>

                <form id="regiration_form" action="/finance/add" method="POST">
                    <div class="container-fluid">
                    <fieldset>
                        <h2>Paso 1: DATOS GENERALES</h2>
                        <div class="form-group">
                            <label for="TipoMovimiento"> Tipo de movimiento</label>

                            <select name="TipoMovimiento" id="TipoMovimiento" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                <option value="Ingreso">Ingreso</option>
                                <option value="Egreso">Egreso</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="Cantidad">Cantidad</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input type="number" step="0.01" name="Cantidad" class="form-control" aria-label="Amount (to the nearest dollar)">
                                <span class="input-group-text">M/N</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Descripcion">Descripción</label>
                            <input type="text" class="form-control" name="Descripcion" id="Descripcion">
                        </div>

                        <div class="form-group">
                            <label for="TipoServicio">Servicio relacionado al movimiento financiero</label>
                            <select name="TipoServicio" id="TipoServicio" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                {{#each servicio}}
                                <option value="{{idTiposServicio}}">{{Servicio}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="TipoProyecto">Proyecto relacionado al movimiento financiero</label>
                            <select name="TipoProyecto" id="TipoProyecto" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                {{#each proyecto}}
                                <option value="{{idProyecto}}">{{Proyecto}}</option>
                                {{/each}}
                            </select>
                        </div>

                         <div class="form-group">
                            <label for="Encargado">Empleado que agrega</label>
                            <select name="Encargado" id="Encargado" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                {{#each arquitecto}}
                                <option value="{{idEmpleado}}">{{fullname}}</option>
                                {{/each}}
                            </select>
                        </div>


                         <div class="form-group">
                            <label for="FormaDePago"> Forma de pago</label>
                            <select name="FormaDePago" id="FormaDePago" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                {{#each formaDePago}}
                                <option value="{{idFdePago}}">{{Forma}}</option>
                                
                                {{/each}}
                            </select>
                        </div>
                        <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                        <input type="submit" name="submit" class="submit btn2" value="Guardar"
                            id="submit_data" />
                    </fieldset>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var current = 1,
            current_step, next_step, steps;
        steps = $("fieldset").length;
        $(".next").click(function () {
            current_step = $(this).parent();
            next_step = $(this).parent().next();
            next_step.show();
            current_step.hide();
            setProgressBar(++current);
        });
        $(".previous").click(function () {
            current_step = $(this).parent();
            next_step = $(this).parent().prev();
            next_step.show();
            current_step.hide();
            setProgressBar(--current);
        });
        setProgressBar(current);
        // Change progress bar action
        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
                .css("width", percent + "%")
                .html(percent + "%");
        }

        $.get('/dropElements', function (clases) {
            $.each(clases, function (index, el) {
                $(`.${el.Clase}`).remove();
            });
        });

        $('#estado').change(function() {
            $.get('/projects/ciudad/'+$(this).val(), function(ciudaData) {
                $('#Ciudad').empty();
                $.each(ciudaData, function(index,city) {
                    $('#Ciudad').append($("<option></option>")
                        .attr("value", city.idCiudad).text(city.Ciudad));
                });
            });
        });

    });
</script>