<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content  -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <section>
                <!--Ejemplo tabla con DataTables-->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col">
                            <button class="fas fa-arrow-alt-circle-left fa-2x" style="cursor: pointer;"
                                onclick="window.history.back();" title="Regresar"></button>
                        </div>
                        
                        <div class="col-8" style="text-align: center;">
                            <h2 class="py-3">Ingresos y Egresos</h2>
                        </div>
                        <div class="col" style="text-align: end;">
                            <button class="fas fa-plus-circle fa-2x" type="button" data-toggle="modal"
                                data-target="#modalAdd" title="Agregar movimiento"></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Vista">Vista</label>
                        <button id="btnCard" class="fas fa-table fa-lg" style="cursor: pointer;" onclick="showCard();"
                            title="Tarjetas"></button>
                        <button id="btnTable" class="fas fa-stream fa-lg" style="cursor: pointer; color:grey;"
                            onclick="showTable();" title="Tabla"></button>
                    </div>
                    <!--Ejemplo tabla con DataTables-->
                    <div id="tabla" class="container py-2">
                       <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">

                                    <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr style="text-align: center;" class="table table-striped table-bordered">
                                                <th><i class="fas fa-plus-circle lead"></i></th>
                                                <th>Tipo de movimiento</th>
                                                <th>Descripción</th>
                                                <th>Cantidad</th>
                                                <th>Fecha</th>
                                                <th>Empleado</th>
                                                <th>Froma de Pago</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each movements}}
                                            <tr style="text-align: center;">
                                                <td class="{{colorfinanza Tipo}}"><i class="fas fa-money-bill-wave"></i></td>
                                                <td><a href="/finance/show/{{idIyE}}"> {{Tipo}} </a></td>
                                                <td><a href="/finance/show/{{idIyE}}">{{Descripcion}}</a></td>
                                                <td><a href="/finance/show/{{idIyE}}">${{Cantidad}}</a></td>
                                                <td><a href="/finance/show/{{idIyE}}">{{fixDate Fecha}}</a></td>
                                                <td><a href="/finance/show/{{idIyE}}">{{fullname}}</a></td>
                                                <td><a href="/finance/show/{{idIyE}}">{{Forma}}</a></td>
                                            </tr>
                                            {{else}}
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tarjeta" class="container py-2">
                        {{!-- <h2 class="py-3">Clientes</h2> --}}
                                <div class="row alineado">
                            {{#each movements}}

                            <div class="card col-md-4 p-0 my-2 ">
                                <a href="/finance/show/{{idIyE}}"> 
                                    <div class="card-header">
                                        <h6 class="font-weight-bold mb-0 {{colorfinanza Tipo}}"> <i class="fas fa-money-bill-wave" id="billete1"></i>
                                            {{Tipo}}</h6>
                                    </div>

                                    <div class="card-body">
                                        <div class="col-md-12 d-flex alineado">
                                            <div class="mx-auto">
                                                <div class="objeto">


                                                    <h6 class="alineado">Arquitecto: {{fullname}}</h6><br>
                                                    <h6 class="alineado">Descripción: {{Descripcion}}</h6><br>
                                                    <h6 class="alineado">Forma de pago: {{Forma}}</h6><br>
                                                    <h6 class="alineado">Fecha de registro: </br> {{fixDate Fecha}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-footer">

                                        <div class="row alineado">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {{else}}
                            <div class="card col-md-3 p-0 mx-auto">
                                <div class="card-header">
                                    <h6 class="font-weight-bold mb-0">Ingresos y Egresos</h6>
                                </div>
                                <div class="card-body">
                                    <div class="col-md-12 d-flex ">
                                        <div class="mx-auto">
                                            <div class="objeto">
                                                {{!-- <h4 class="font-weight-bold nb-0">Proyectos próximos </h4> --}}
                                                <h5 class="alineado">No hay movimientos agregados
                                                </h5>
                                                {{!-- <a class="d-block p-1 alineado" role="cell" href="/projects"> Ver
                                                    todos
                                                </a> --}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer objeto">
                                    
                                    <a class="d-block p-1 alineado" role="cell" href="/finance/add"> Agregar movimiento
                                    </a>
                                    
                                </div>
                                
                            </div>


                            {{/each}}
                        </div>
                    </div>
                </div>

            </section>

        </div>
    </div>
</div>

<div class="modal fade container-fluid" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Agregar movimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <form action="/finance/add" method="POST">

                    <div class="container-fluid">
                    <fieldset>
                        <h2>Paso 1: DATOS GENERALES</h2>
                        <div class="form-group">
                            <label for="TipoMovimiento"> Tipo de movimiento</label>

                            <select name="TipoMovimiento" id="TipoMovimiento" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                <option value="Ingreso">Ingreso</option>
                                <option value="Egreso">Egreso</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="Cantidad">Cantidad</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input type="number" step="0.01" name="Cantidad" class="form-control" aria-label="Amount (to the nearest dollar)">
                                <span class="input-group-text">M/N</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Descripcion">Descripción</label>
                            <input type="text" class="form-control" name="Descripcion" id="Descripcion">
                        </div>

                        <div class="form-group">
                            <label for="TipoServicio">Servicio relacionado al movimiento financiero</label>
                            <select name="TipoServicio" id="TipoServicio" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                {{#each servicio}}
                                <option value="{{idTiposServicio}}">{{Servicio}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="TipoProyecto">Proyecto relacionado al movimiento financiero</label>
                            <select name="TipoProyecto" id="TipoProyecto" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                {{#each proyecto}}
                                <option value="{{idProyecto}}">{{Proyecto}}</option>
                                {{/each}}
                            </select>
                        </div>

                         <div class="form-group">
                            <label for="Encargado">Empleado que agrega</label>
                            <select name="Encargado" id="Encargado" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                {{#each arquitecto}}
                                <option value="{{idEmpleado}}">{{fullname}}</option>
                                {{/each}}
                            </select>
                        </div>


                         <div class="form-group">
                            <label for="FormaDePago"> Forma de pago</label>
                            <select name="FormaDePago" id="FormaDePago" class="form-control" required>
                                <option value="">--SELECCIONAR--</option>
                                {{#each formaDePago}}
                                <option value="{{idFdePago}}">{{Forma}}</option>
                                
                                {{/each}}
                            </select>
                        </div>

                    </fieldset>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn1 btn-secondary mx-auto col-md-7"
                            data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn1 btn-primary mx-auto col-md-7" id="btnAdd">Completar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $('#tarjeta').show();
        $('#tabla').hide();
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
        
        $.get('/dropElements', function (clases) {
            $.each(clases, function (index, el) {
                $(`.${el.Clase}`).remove();
            });
        });

        $('#myTable').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "sProcessing": "Procesando..."
            }
            
        });

        showTable();
    });

    function pressNuevo() {
        $('#Add_Estado').val('');
        $("#modalAdd").modal("show");
    }

    function showTable() {
        $('#tarjeta').hide();
        $('#tabla').show();
        $('#btnTable').css("color", "rgb(32, 32, 32)");
        $('#btnCard').css("color", "grey");
    }

    function showCard() {
        $('#tarjeta').show();
        $('#tabla').hide();
        $('#btnTable').css("color", "grey");
        $('#btnCard').css("color", "rgb(32, 32, 32)");
    }
</script>