<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content  -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <section>
                <div class="card mb-3">

                    <div class="card-body">

                        <div class="align-items">
                            

                            <div class="container-fluid">
                                <img class="img-thumb float-right" src="{{}}" alt="Card image cap">
                            </div>


                            <h1 class="card-title">{{finance.Finanzas}}</h1>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Arquitecto encargado:
                                    </strong>{{finance.AgregadoPor}}</li>
                                <li class="list-group-item"><strong>Descripción: </strong>{{finance.Descripcion}}</li>
                                <li class="list-group-item"><strong>Fecha de registro: </strong>{{fixDate
                                    projects.Fecha}}</li>
                                <li class="list-group-item"> </li>
                            </ul>

                            <div class="row">
                            </div>
                            

                           


                        </div>

                    </div>

                </div>
        </div>

        </section>
    </div>
</div>
</div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $.get('/dropElements', function (clases) {
            $.each(clases, function (index, el) {
                $(`.${el.Clase}`).remove();
            });
        });

    });
</script>