<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content -->
    <div id="content">
        <div class="wrapper">
            {{> sidebar}}

            <!-- Page Content -->
            <div id="content">

                {{> navbar}}

                {{> message }}

                <div id="main" class="animated bounceInUp">
                    <section>
                        <!--<div class="container-fluid alineado">
                            <div class="container-fluid alineado pt-2">
                                <h4 class="font-weight-bold">Registro de empleado</h4>
                            </div>
                            <div class="form-group" id="nombre-group">
                                <div id="foto-div">

                                </div>
                            </div>
                        </div>

                        <div class="contact-wrapper">
                            <div class="contact-form">
                                <form action="/users/add" method="post" id="Form">
                                    <p>
                                        <label>Nombre </label>
                                        <input type="text" name="nombre" id="nombre" maxlength="45" required>
                                    </p>
                                    <p>
                                        <label>Apellido </label>
                                        <input type="text" name="apellido" id="apellido" maxlength="45" required>
                                    </p>
                                    <p>
                                        <label>RFC </label>
                                        <input type="text" name="rfc" id="rfc" minlength="13" maxlength="13"
                                            title="El RFC es una cadena de texto de 13 caracteres" required>
                                    </p>
                                    <p>
                                        <label>Correo </label>
                                        <input type="email" name="correo" id="correo" maxlength="45" required>
                                    </p>
                                    <p>
                                        <label>Contraseña </label>
                                        <input type="password" name="contrasena" id="contrasena" minlength="6"
                                            maxlength="45" title="La contraseña debe tener al menos 6 caracteres"
                                            required>
                                    </p>
                                    <p>
                                        <label>Confirmar contraseña </label>
                                        <input type="password" name="confContrasena" id="confContrasena" minlength="6"
                                            maxlength="45" required>
                                    </p>
                                    <p>
                                        <label>Rol </label>
                                        <select name="rol" id="rol" class="form-control">
                                            <option value="-1">--SELECCIONAR--</option>
                                            <option value="1">Rol 1</option>
                                            <option value="2">Rol 2</option>
                                            <option value="3">Rol 3</option>
                                        </select>
                                    </p>
                                    <p class="block mx-auto col-md-3">
                                        <button class="btn1 mx-auto" id="btnForm">
                                            Guardar
                                        </button>
                                    </p>
                                </form>
                            </div>
                        </div>-->
                        <div class="container">
                            <!--<div class="container-fluid alineado">-->
                            <h3 class="font-weight-bold logo">Registro de empleado</h3>
                            <!--</div>-->

                            <form action="/users/add" method="POST" id="Form">
                                <div class="form-group pt-3">
                                    <label for="Nombre">Nombre </label>
                                    <input type="text" name="Nombre" id="Nombre" class="form-control" maxlength="45"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="Apellido">Apellido </label>
                                    <input type="text" name="Apellido" id="Apellido" class="form-control" maxlength="45"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="RFC">RFC </label>
                                    <input type="text" name="RFC" id="RFC" class="form-control" maxlength="13"
                                        minlength="13" required>
                                </div>
                                <div class="form-group">
                                    <label for="Correo">Correo </label>
                                    <input type="email" name="Correo" id="Correo" class="form-control" maxlength="45"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="contrasena">Contraseña </label>
                                    <input type="password" name="Contrasena" id="contrasena" class="form-control"
                                        minlength="6" maxlength="45"
                                        title="La contraseña debe tener al menos 6 caracteres" required>
                                </div>
                                <div class="form-group">
                                    <label for="confContrasena">Confirmar contraseña </label>
                                    <input type="password" name="confContrasena" id="confContrasena"
                                        class="form-control" minlength="6" maxlength="45" required>
                                </div>
                                <div class="form-group">
                                    <label for="Rol">Rol </label>
                                    <select name="Rol" id="Rol" class="form-control">
                                        <option value="-1">--SELECCIONAR--</option>
                                        {{#each roles}}
                                            <option value="{{idRol}}">{{Nombre}}</option>
                                        {{/each}}
                                        <!--<option value="1">Rol 1</option>
                                        <option value="2">Rol 2</option>
                                        <option value="3">Rol 3</option>-->
                                    </select>
                                </div>
                                <div class="block mx-auto col-md-3 alineado py-4">
                                    <button class="btn1 mx-auto" id="btnForm">
                                        Guardar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        const btnForm = document.querySelector('#btnForm');
        btnForm.onclick = function () {
            const selec = document.getElementById("Rol").value;
            if (selec === "-1") {
                alert("Elija un rol");
                return false;
            }
            const pass = $("#contrasena").val();
            const confPass = $("#confContrasena").val();
            if (pass !== confPass) {
                alert("Las contraseñas ingresadas no coinciden");
                return false;
            }
            //document.forms["Form"].submit();
        }
    });
</script>