<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content -->
    <div id="content">
        <div class="wrapper">
            {{> sidebar}}

            <!-- Page Content -->
            <div id="content">

                {{> navbar}}

                {{> message }}

                <div id="main" class="animated bounceInUp">
                    <section>
                        <div class="container">
                            <!--<div class="container-fluid alineado">-->
                            <h3 class="font-weight-bold logo">Modificación de empleado</h3>
                            <!--</div>-->

                            <form action="/users/edit/{{ empleado.idEmpleado }}" method="POST" id="Form">
                                <div class="form-group pt-3">
                                    <label for="Nombre">Nombre </label>
                                    <input type="text" name="Nombre" id="Nombre" value="{{ empleado.Nombre }}"
                                        class="form-control" maxlength="45" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="Apellido">Apellido </label>
                                    <input type="text" name="Apellido" id="Apellido" value="{{ empleado.Apellido }}"
                                        class="form-control" maxlength="45" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="RFC">RFC </label>
                                    <input type="text" name="RFC" id="RFC" value="{{ empleado.RFC }}"
                                        class="form-control" maxlength="13" minlength="13" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="Correo">Correo </label>
                                    <input type="email" name="Correo" id="Correo" value="{{ empleado.Correo }}"
                                        class="form-control" maxlength="45" required>
                                </div>
                                <div class="form-group">
                                    <label for="Rol">Rol </label>
                                    <select name="Rol" id="Rol" class="form-control" required>
                                        <option value="-1">Seleccionar</option>
                                        {{#each roles}}
                                        <option value="{{ idRol }}">{{ Nombre }}
                                        </option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div>
                                    <input type="hidden" name="rolActual" id="rolActual" value="{{ empleado.Rol }}"
                                        required>
                                </div>
                                <div class="block mx-auto col-md-3 alineado py-4">
                                    <button class="btn1 mx-auto" id="btnForm">
                                        Guardar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $('#Rol').val(
            $("#rolActual").val()
        );

        const btnForm = document.querySelector('#btnForm');
        btnForm.onclick = function () {
            const selec = document.getElementById("Rol").value;
            if (selec === "-1") {
                alert("Elija un rol");
                return false;
            }
        }
    });
</script>