<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/login.css">

<div class="wrapper">
    <div class="container-fluid alineado px-0">

        <div class="row no-gutters alineado">
            <div class="col-5 ocultar-div m-0 carrusel otro">

                <div id="carouselExampleSlidesOnly" class="carousel slide " data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/arq1.jpg" class="d-block w-100 img-fluid" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/arq2.jpg" class="d-block w-100 img-fluid" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/arq31.jpg" class="d-block w-100 img-fluid" alt="...">
                        </div>
                    </div>
                </div>

            </div>

            <div class=" col-7 pt-5 alineado">
                <div class="container-fluid w-100 alineado">
                    <img src="/img/logo.png" alt="" class="img-fluid p-3 logo">
                </div>
                <div class="container-fluid w-100 alineado">
                    <img src="/img/Consultarq_letras_gris.png" alt="" class="img-fluid pb-2 logo">
                </div>
                <h3 class="texto mt-4 ml-10">Bienvenido</h3>
                <div class="form-row alineado">
                    <div class="block mx-auto col-md-4 alineado py-2">
                        <a href="javascript:empleado();">
                            <button id="btnempleado" type="button" class="btn1">Empleado</button>
                        </a>
                    </div>
                    <div class="block mx-auto col-md-4 alineado py-2">
                        <a href="javascript:cliente();">
                            <button id="btncliente" type="button" class="btn1">Cliente</button>
                        </a>
                    </div>
                </div>
                <div id="tarjeta_empleado">
                    <h4 class="texto mt-4 ml-10">Ingresa a tu cuenta</h4>
                    {{> message }}
                    <form action="/authenticate" method="POST">
                        <div class="form-row alineado">
                            <div class="mx-auto col-md-8">
                                <!--<label for="correo" class="my-3">Correo </label>-->
                                <input type="email" name="correo" id="correo_empleado" class="form-control p-4 my-3"
                                    placeholder="Correo electrónico" maxlength="45" required>
                            </div>
                        </div>
                        <div class="form-row alineado">
                            <div class="mx-auto col-md-8">
                                <!--<label for="contrasena" class="my-3">Contraseña </label>-->
                                <input type="password" name="contrasena" id="contrasena_empleado" class="form-control p-4 my-3"
                                    placeholder="********" maxlength="45" required>
                            </div>
                        </div>
                        <div class="form-row alineado">
                            <div class="mx-auto col-md-8 alineado">
                                <a href="/forgotPassword" class="texto">¿Olvidaste tu contraseña?</a>
                            </div>
                        </div>
                        <div class="form-row alineado">
                            <div class="mx-auto col-md-3 alineado py-5">
                                <button type="submit" class="btn1 mx-auto">Ingresar</button>
                            </div>
                        </div>

                    </form>
                </div>
                <div id="tarjeta_cliente">
                    <h4 class="texto mt-4 ml-10">Ingresa a tu cuenta</h4>
                    {{> message }}
                    <form action="/authenticateClient" method="POST">
                        <div class="form-row alineado">
                            <div class="mx-auto col-md-8">
                                <!--<label for="correo" class="my-3">Correo </label>-->
                                <input type="email" name="correo" id="correo_cliente" class="form-control p-4 my-3"
                                       placeholder="Correo electrónico" maxlength="45" required>
                            </div>
                        </div>
                        <div class="form-row alineado">
                            <div class="mx-auto col-md-8">
                                <!--<label for="contrasena" class="my-3">Contraseña </label>-->
                                <input type="password" name="contrasena" id="contrasena_cliente" class="form-control p-4 my-3"
                                       placeholder="********" maxlength="45" required>
                            </div>
                        </div>
                        <div class="form-row alineado">
                            <div class="mx-auto col-md-8 alineado">
                                <a href="/forgotPasswordClient" class="texto">¿Olvidaste tu contraseña?</a>
                            </div>
                        </div>
                        <div class="form-row alineado">
                            <div class="mx-auto col-md-3 alineado py-5">
                                <button type="submit" class="btn1 mx-auto">Ingresar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{> scripts }}
<script type="text/javascript">
    $(document).ready(function () {
        $('#tarjeta_empleado').hide();
        $('#tarjeta_cliente').hide();
    });

    function empleado() {
        $('#tarjeta_empleado').show();
        $('#tarjeta_cliente').hide();
        $('#btnempleado').css("background-color", "white");
        $('#btnempleado').css("color", "rgb(32, 32, 32)");
        $('#btncliente').css("background-color", "rgb(32, 32, 32)");
        $('#btncliente').css("color", "white");
    }
    function cliente(){
        $('#tarjeta_empleado').hide();
        $('#tarjeta_cliente').show();
        $('#btncliente').css("background-color", "white");
        $('#btncliente').css("color", "rgb(32, 32, 32)");
        $('#btnempleado').css("background-color", "rgb(32, 32, 32)");
        $('#btnempleado').css("color", "white");
    }
</script>
