<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/login.css">

<div class="wrapper">
    <section>
    <div class="container col-9 pt-5 alineado">
        <div class="container-fluid alineado">
            <img src="/img/logo.png" alt="" class="img-fluid p-3 logo">
        </div>
        <div class="container-fluid alineado">
            <img src="/img/Consultarq_letras_gris.png" alt="" class="img-fluid pb-2 logo">
        </div>
        <div class="container text-align-center">
            <h4 class="texto mt-4">Ingresa tu correo</h4>
        </div>
        <form action="/forgotPasswordClient" method="POST">
            <div class="form-row alineado">
                <div class="mx-auto col-md-7">
                    <input type="email" name="email" class="form-control my-3 p-4" placeholder="Correo electrónico" required>
                </div>
            </div>
            <div class="form-row alineado">
                <div class="mx-auto col-md-5">
                    <p class="texto">Se enviará un enlace para la recuperación de tu contraseña al correo ingresado</p>
                </div>
                {{> message }}
            </div>
            <div class="form-row alineado">
                <div class="mx-auto col-md-3 alineado py-5">
                    <button type="submit" class="btn1 mx-auto">Enviar</button>
                </div>
            </div>
        </form>

    </div>
</section>
</div>

{{> scripts }}