<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/login.css">

<div class="wrapper">
    <section>
        <div class="container alineado col-9 pt-5">
            <div class="container-fluid alineado">
                <img src="/img/logo.png" alt="" class="img-fluid p-3 logo">
            </div>
            <div class="container-fluid alineado">
                <img src="/img/Consultarq_letras_gris.png" alt="" class="img-fluid pb-2 logo">
            </div>
            <div class="container text-align-center">
                <h4 class="texto mt-4">Ingresa tu nueva contraseña</h4>
            </div>
            <form action="/resetPasswordClient/{{token}}" method="POST" id="Form">
                <div class="form-row alineado">
                    <div class="mx-auto col-md-7">
                        <input type="password" name="Contrasena" id="Contrasena" class="form-control p-4 my-3"
                            minlength="6" maxlength="45" placeholder="Contraseña"
                            title="La contraseña debe tener al menos 6 caracteres" required>
                    </div>
                </div>
                <div class="form-row alineado">
                    <div class="mx-auto col-md-7">
                        <input type="password" name="confContrasena" id="confContrasena" class="form-control p-4 my-3"
                            minlength="6" maxlength="45" placeholder="Confirmar contraseña" required>
                    </div>
                </div>
                <div class="form-row alineado">
                    <div class="mx-auto col-md-3 alineado py-5">
                        <button class="btn1 mx-auto" id="btnForm">
                            Enviar
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </section>
</div>

{{> scripts }}

<script type="text/javascript">
    const btnForm = document.querySelector('#btnForm');
    btnForm.onclick = function () {
        const pass = $("#Contrasena").val();
        const confPass = $("#confContrasena").val();
        if (pass !== confPass) {
            alert("Las contraseñas ingresadas no coinciden");
            return false;
        }
        //document.forms["Form"].submit();
    }
</script>