<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <section>
                <!--<div class="container-fluid alineado">
                    <div class="container-fluid alineado pt-2">
                        <h4 class="font-weight-bold">Datos del cliente</h4>
                    </div>
                    <div class="form-group" id="nombre-group">
                        <div id="foto-div">

                        </div>
                    </div>
                </div>

                <div class="contact-wrapper">
                    <div class="contact-form">
                        <form action="/clients/edit/{{cliente.idCliente}}" method="POST" id="Form">
                            <p>
                                <label>Nombre </label>
                                <input type="text" name="Nombre" value="{{cliente.Nombre}}" maxlength="45" required>
                            </p>
                            <p>
                                <label>Apellido </label>
                                <input type="text" name="Apellido" value="{{cliente.Apellido}}" maxlength="45" required>
                            </p>
                            <p>
                                <label>Teléfono </label>
                                <input type="" name="Telefono" value="{{cliente.Telefono}}" maxlength="10" minlength="10" required>
                            </p>
                            <p>
                                <label>RFC </label>
                                <input type="text" name="RFC" value="{{cliente.RFC}}" maxlength="13" minlength="13" required>
                            </p>
                            <p>
                                <label>Razón social </label>
                                <input type="text" name="RazonSocial" value="{{cliente.RazonSocial}}" maxlength="50" required>
                            </p>
                            <p>
                                <label>Correo </label>
                                <input type="email" name="Correo" value="{{cliente.Correo}}" maxlength="45" required>
                            </p>-->
                            <!--<p>
                                <label>Contraseña </label>
                                <input type="password" name="Contrasena" id="contrasena" minlength="8" maxlength="45" required>
                            </p>
                            <p>
                                <label>Confirmar contraseña </label>
                                <input type="password" name="confContrasena" id="confContrasena" minlength="8" maxlength="45" required>
                            </p>-->
                            <!--<p class="block mx-auto col-md-3">
                                <button class="btn1 mx-auto" id="btnForm">
                                    Guardar
                                </button>
                            </p>
                        </form>
                    </div>
                </div>-->
                <div class="container">
                    <!--<div class="container-fluid alineado">-->
                    <h3 class="font-weight-bold logo">Datos del cliente</h3>
                    <!--</div>-->

                    <form action="/clients/edit/{{cliente.idCliente}}" method="POST" id="Form">
                        <div class="form-group pt-3">
                            <label for="Nombre">Nombre </label>
                            <input type="text" name="Nombre" id="Nombre" value="{{cliente.Nombre}}" class="form-control" maxlength="45" required>
                        </div>
                        <div class="form-group">
                            <label for="Apellido">Apellido </label>
                            <input type="text" name="Apellido" id="Apellido" value="{{cliente.Apellido}}" class="form-control" maxlength="45"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="Telefono">Teléfono </label>
                            <input type="" name="Telefono" id="Telefono" value="{{cliente.Telefono}}" class="form-control" maxlength="10"
                                minlength="10" required>
                        </div>
                        <div class="form-group">
                            <label for="RFC">RFC </label>
                            <input type="text" name="RFC" id="RFC" value="{{cliente.RFC}}" class="form-control" maxlength="13" minlength="13"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="RazonSocial">Razón social </label>
                            <input type="text" name="RazonSocial" id="RazonSocial" value="{{cliente.RazonSocial}}" class="form-control" maxlength="50"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="Correo">Correo </label>
                            <input type="email" name="Correo" id="Correo" value="{{cliente.Correo}}" class="form-control" maxlength="45" required>
                        </div>
                        <div>
                            <input type="hidden" name="cliente" value="{{cliente.idCliente}}" required>
                        </div>
                        <div class="block mx-auto col-md-3 alineado py-4">
                            <button class="btn1 mx-auto" id="btnForm">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });

    /*const btnForm = document.querySelector('#btnForm');
    btnForm.onclick = function () {
        const pass = $("#contrasena").val();
        const confPass = $("#confContrasena").val();
        if (pass !== confPass) {
            alert("Las contraseñas ingresadas no coinciden");
            return false;
        }
        //document.forms["Form"].submit();
    }*/
</script>