<!-- Our Custom CSS -->
<link rel="stylesheet" href="/css/principal.css">

<div class="wrapper">
    {{> sidebar}}

    <!-- Page Content -->
    <div id="content">

        {{> navbar}}

        {{> message }}
        <div id="main" class="animated bounceInUp">
            <section>
                <div class="container">
                    {{!-- <h2 class="py-3">Clientes</h2> --}}
                    <div class="row align-items-center">
                        <div class="col">
                            <button class="fas fa-arrow-alt-circle-left fa-2x" style="cursor: pointer;"
                                onclick="window.history.back();" title="Regresar"></button>
                        </div>
                        <div class="col-8" style="text-align: center;">
                            <h2 class="py-3"> Clientes</h2>
                        </div>
                        <div class="col" style="text-align: end;">
                            <button class="fas fa-plus-circle fa-2x" style="cursor: pointer;" onclick="nuevoCliente();"
                                title="Agregar cliente"></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Vista">Vista</label>
                        {{!-- <select name="Vista" id="Vista" class="form-control w-50" required>
                            <option value="">Seleccione una vista</option>
                            <option value="1" selected>Tabla</option>
                            <option value="2">Tarjetas</option>
                        </select> --}}
                        <button id="btnCard" class="fas fa-table fa-lg" style="cursor: pointer;" onclick="showCard();"
                            title="Tarjetas"></button>
                        <button id="btnTable" class="fas fa-stream fa-lg" style="cursor: pointer; color:grey;"
                            onclick="showTable();" title="Tabla"></button>
                    </div>
                </div>
                <!--Ejemplo tabla con DataTables-->
                <div id="tabla" class="container py-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">

                                {{!-- <h2 class="py-3">Clientes</h2> --}}
                                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th><i class="fas fa-plus-circle lead"></i></th>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Número de teléfono</th>
                                            <th>Correo electrónico</th>
                                            <th>RFC</th>
                                            <th>Razón social</th>
                                            <th></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each clients}}
                                        <tr>
                                            <td><i class="fas fa-user-circle lead"></i></td>
                                            <td>{{idCliente}}</td>
                                            <td>{{Nombre}} {{Apellido}}</td>
                                            <td id="nom{{idCliente}}">{{Nombre}}</td>
                                            <td id="ap{{idCliente}}">{{Apellido}}</td>
                                            <td id="tel{{idCliente}}">{{Telefono}}</td>
                                            <td id="mail{{idCliente}}">{{Correo}}</td>
                                            <td id="rfc{{idCliente}}">{{RFC}}</td>
                                            <td id="razon{{idCliente}}">{{RazonSocial}}</td>
                                            <td>
                                                <a href="javascript:editarCliente({{idCliente}});" class="text-info"
                                                    title="Editar información">
                                                    <i class="fas fa-pencil-alt lead"></i>
                                                </a>
                                            </td>
                                            
                                        </tr>
                                        {{else}}
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tarjeta" class="container py-2">
                    {{!-- <h2 class="py-3">Clientes</h2> --}}
                    <div class="row alineado">
                        {{#each clients}}
                        <div class="card col-md-4 p-0 my-2">
                            <div class="card-header">
                                <h6 class="font-weight-bold mb-0">{{RazonSocial}}</h6>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 d-flex alineado">
                                    <div class="mx-auto">
                                        <div class="objeto">
                                            {{!-- <h4 class="font-weight-bold nb-0">Proyectos próximos </h4> --}}
                                            <div class="container pb-3" title="Editar foto">
                                                <img id="img-cliente{{idCliente}}" src="{{searchImage Imagen}}"
                                                    width="150" height="150" class="d-inline-block align-top img-fluid"
                                                    alt="" onclick="editarFoto({{idCliente}});">
                                            </div>
                                            <h6 class="alineado"><strong>Persona:</strong> {{Nombre}} {{Apellido}}
                                            </h6>
                                            <h6 class="alineado"><strong>Correo:</strong> {{Correo}}
                                            </h6>
                                            <h6 class="alineado"><strong>Teléfono:</strong> {{Telefono}}
                                            </h6>
                                            <h6 class="alineado"><strong>RFC:</strong> {{RFC}}
                                            </h6>
                                            <h6 class="alineado"><strong>Razón social:</strong> {{RazonSocial}}
                                            </h6>

                                            {{!-- <a class="d-block p-1 alineado" role="cell" href="/projects"> Ver
                                                todos
                                            </a> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="mx-auto d-flex alineado">
                                    <a href="javascript:editarCliente({{idCliente}});" class="text-info px-2"
                                        title="Editar información">
                                        <i class="fas fa-pencil-alt lead"></i>
                                    </a>
                                    <a href="/projects/client/{{idCliente}}" class="text-danger px-2 project"
                                        title="Ver proyectos de {{RazonSocial}}">
                                        <i class="fas fa-folder-open lead"></i>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="card col-md-3 p-0 mx-auto">
                            <div class="card-header">
                                <h6 class="font-weight-bold mb-0">Clientes</h6>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 d-flex ">
                                    <div class="mx-auto">
                                        <div class="objeto">
                                            {{!-- <h4 class="font-weight-bold nb-0">Proyectos próximos </h4> --}}
                                            <h5 class="alineado">No hay clientes agregados
                                            </h5>
                                            {{!-- <a class="d-block p-1 alineado" role="cell" href="/projects"> Ver
                                                todos
                                            </a> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer objeto">
                                <a class="d-block p-1 alineado" role="cell" href="/clients/add"> Agregar cliente
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <!--<div class="container py-4">
                    <div class="row">
                        <div class="col-2 alineado">
                        </div>
                        <div class="col-4 alineado">
                            <button type="button" class="btn1">Modificar</button>
                        </div>
                        <div class="col-4 alineado">
                            <button type="button" class="btn1">Eliminar</button>
                        </div>
                        <div class="col-2 alineado">
                        </div>
                    </div>
                </div>-->
            </section>

        </div>
    </div>
</div>

<div class="modal fade container-fluid" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Agregar un cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <form action="/clients/add" method="POST">

                    <div class="container-fluid">
                        <div class="form-group pt-3">
                            <label for="Nombre">Nombre </label>
                            <input type="text" name="Nombre" id="Nombre" class="form-control" maxlength="45"
                                placeholder="Nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="Apellido">Apellido </label>
                            <input type="text" name="Apellido" id="Apellido" class="form-control" maxlength="45"
                                placeholder="Apellido" required>
                        </div>
                        <div class="form-group">
                            <label for="Telefono">Teléfono </label>
                            <input type="" name="Telefono" id="Telefono" class="form-control" maxlength="10"
                                minlength="10" placeholder="Teléfono" required>
                        </div>
                        <div class="form-group">
                            <label for="RFC">RFC </label>
                            <input type="text" name="RFC" id="RFC" class="form-control" maxlength="13" minlength="13"
                                placeholder="RFC" required>
                        </div>
                        <div class="form-group">
                            <label for="RazonSocial">Razón social </label>
                            <input type="text" name="RazonSocial" id="RazonSocial" class="form-control" maxlength="50"
                                placeholder="Razón social" required>
                        </div>
                        <div class="form-group">
                            <label for="Correo">Correo </label>
                            <input type="email" name="Correo" id="Correo" class="form-control" maxlength="45"
                                placeholder="Correo electrónico" required>
                        </div>
                        <div class="form-group">
                            <label for="contrasena">Contraseña </label>
                            <input type="password" name="Contrasena" id="contrasena" class="form-control" minlength="6"
                                maxlength="45" title="La contraseña debe tener al menos 6 caracteres"
                                placeholder="********" required>
                        </div>
                        <div class="form-group">
                            <label for="confContrasena">Confirmar contraseña </label>
                            <input type="password" name="confContrasena" id="confContrasena" class="form-control"
                                minlength="6" maxlength="45" placeholder="Confirmar contraseña" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn1 btn-secondary mx-auto col-md-7"
                            data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn1 btn-primary mx-auto col-md-7" id="btnAdd">Completar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade container-fluid" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Editar cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <form action="/clients/edit" method="POST">

                    <div class="container-fluid">
                        <div class="form-group pt-3">
                            <label for="Nombre">Nombre </label>
                            <input type="text" name="Nombre" id="Edit_Nombre" class="form-control" maxlength="45"
                                placeholder="Nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="Apellido">Apellido </label>
                            <input type="text" name="Apellido" id="Edit_Apellido" class="form-control" maxlength="45"
                                placeholder="Apellido" required>
                        </div>
                        <div class="form-group">
                            <label for="Telefono">Teléfono </label>
                            <input type="" name="Telefono" id="Edit_Telefono" class="form-control" maxlength="10"
                                placeholder="Teléfono" minlength="10" required>
                        </div>
                        <div class="form-group">
                            <label for="RFC">RFC </label>
                            <input type="text" name="RFC" id="Edit_RFC" class="form-control" maxlength="13"
                                minlength="13" placeholder="RFC" required>
                        </div>
                        <div class="form-group">
                            <label for="RazonSocial">Razón social </label>
                            <input type="text" name="RazonSocial" id="Edit_RazonSocial" class="form-control"
                                maxlength="50" placeholder="Razón social" required>
                        </div>
                        <div class="form-group">
                            <label for="Correo">Correo </label>
                            <input type="email" name="Correo" id="Edit_Correo" class="form-control" maxlength="45"
                                placeholder="Correo electrónico" required>
                        </div>
                        <div>
                            <input type="hidden" name="idCliente" id="Edit_ID" value="" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn1 btn-secondary mx-auto col-md-7"
                            data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn1 btn-primary mx-auto col-md-7" id="btnEdit">Completar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade container-fluid" id="modalFoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Foto del cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <form action="/clients/photo" method="POST" enctype="multipart/form-data">

                    <div class="container-fluid alineado">
                        <div class="row alineado">
                            <!--<div id="foto-modal" class="container-fluid">-->
                            <img id="img-modal" src="/img/yomero.png" width="200" height="200"
                                class="d-inline-block align-top img-fluid" alt="">
                            <!--</div>-->
                        </div>
                        <div class="form-group pt-3 alineado">
                            <input type="file" name="cliente-foto" id="cliente-foto" accept="image/*">
                        </div>
                        <div>
                            <input type="hidden" name="idCliente" id="idCliente" value="" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn1 btn-secondary mx-auto col-md-7"
                            data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn1 btn-primary mx-auto col-md-7" id="btnFoto">Completar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="overlay"></div>

{{> scripts}}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $.get('/dropElements', function (clases) {
            $.each(clases, function (index, el) {
                $(`.${el.Clase}`).remove();
            });
        });

        $('#myTable').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "sProcessing": "Procesando..."
            },
            columnDefs: [
                {
                    width: "30px",
                    targets: 0
                },
                {
                    "targets": [1],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [2],
                    "visible": false,
                    "searchable": false
                },
                {
                    width: "85px",
                    targets: 5
                },
                {
                    width: "110px",
                    targets: 7
                },
                {
                    width: "15px",
                    targets: 9
                }
            ]
        });

        showCard();
    });

    //const selectVista = document.querySelector('#Vista');
    //selectVista.onchange = function () {
    //const vista = document.getElementById('Vista').value;

    //if (vista === '1') {
    //$('#tarjeta').hide();
    //$('#tabla').show();
    //}
    //if (vista === '2') {
    //$('#tarjeta').show();
    //$('#tabla').hide();
    //}
    //return false;
    //}

    function showTable() {
        $('#tarjeta').hide();
        $('#tabla').show();
        $('#btnTable').css("color", "rgb(32, 32, 32)");
        $('#btnCard').css("color", "grey");
    }

    function showCard() {
        $('#tarjeta').show();
        $('#tabla').hide();
        $('#btnTable').css("color", "grey");
        $('#btnCard').css("color", "rgb(32, 32, 32)");
    }

    function nuevoCliente() {
        $('#Nombre').val('');
        $('#Apellido').val('');
        $('#Telefono').val('');
        $('#RFC').val('');
        $('#RazonSocial').val('');
        $('#Correo').val('');
        $("#contrasena").val('');
        $("#confContrasena").val('');
        $("#modalAdd").modal("show");
    }

    function editarCliente(id) {
        $('#Edit_Nombre').val($(`#nom${id}`).html());
        $('#Edit_Apellido').val($(`#ap${id}`).html());
        $('#Edit_Telefono').val($(`#tel${id}`).html());
        $('#Edit_RFC').val($(`#rfc${id}`).html());
        $('#Edit_RazonSocial').val($(`#razon${id}`).html());
        $('#Edit_Correo').val($(`#mail${id}`).html());
        $('#Edit_ID').val(id);
        $("#modalEdit").modal("show");
    }

    const btnAdd = document.querySelector('#btnAdd');
    btnAdd.onclick = function () {
        const pass = $("#Add_contrasena").val();
        const confPass = $("#Add_confContrasena").val();
        if (pass !== confPass) {
            alert("Las contraseñas ingresadas no coinciden");
            return false;
        }
        //document.forms["Form"].submit();
    }

    function editarFoto(id) {
        $('#cliente-foto').val(null);
        $.get(`/clients/image/${id}`, function (imagen) {
            if (imagen[0].Imagen !== '' && imagen[0].Imagen !== null)
                document.getElementById("img-modal").src = imagen[0].Imagen
            else
                document.getElementById("img-modal").src = '/img/yomero.png'
        });
        $('#idCliente').val(id);
        $("#modalFoto").modal("show");
    }

    const modalPicture = document.querySelector('#cliente-foto');
    modalPicture.onchange = function () {
        var fileInput = document.getElementById("cliente-foto");
        if (fileInput.files && fileInput.files[0]) {
            var imagen = new FileReader();
            imagen.onload = function (evt) {
                document.getElementById("img-modal").src = evt.target.result;
            };
            imagen.readAsDataURL(fileInput.files[0]);
        }
    }

    const btnFoto = document.querySelector('#btnFoto');
    btnFoto.onclick = function () {
        const foto = $("#cliente-foto").val();
        if (foto === '' || foto === null) {
            alert("Debe seleccionar una foto");
            return false;
        }
        //document.forms["Form"].submit();
    }
</script>